* {
    outline: none;
}

form.login-form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #D8D8D8;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #43484D;
    padding: 10px;
    margin-bottom: 10px;
}

form.login-form a {
    float: right;
    margin-top: 9px;
    width: 100%;
    text-align: center;
}

form.login-form .btn {
    width: 100%;
}

form.register-form {
    width: 100%;
}

form.register-form input[type="text"], form.register-form input[type="email"], form.register-form input[type="password"], form.register-form select {
    height: 45px;
    width: 30%;
    border: none;
    background-color: #D8D8D8;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #43484D;
    padding: 10px;
    display: block;
    margin: 0px auto 10px;
}

form.register-form button {
    margin: 0px auto;
    display: block;
    width: 15%;
}

form.register-form .checkbox_box {
    width: 30%;
    margin: 0px auto 10px;
}

form.register-form .checkbox_box input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

form.register-form .checkbox_box label {
    color: #fff;
    vertical-align: super;
    padding-left: 10px;
}

.help-block {
    color: #d63547;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

#dialog .message-content {
    width: 100%;
}

.box-msg p {
    word-wrap: break-word;
    word-break: break-all;
}

.dialog-message-box p {
    word-wrap: break-word;
    word-break: break-all;
}

.swal2-actions.swal2-loading {
    display: block !important;
}

.swal2-actions.swal2-loading .swal2-confirm.swal2-styled {
    border-left-color: rgb(208, 2, 27) !important;
    border-right-color: rgb(208, 2, 27) !important;
    pointer-events: none;
    margin: 0px auto 30px !important;
}

.your-message-box.box-msg.incoming_call_mgs:before {
    content: '';
    background: url(../img/telephone.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}

.friend-message-box.box-msg.incoming_call_mgs .friend-message:before {
    content: '';
    background: url(../img/telephone.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}

.box-msg.incoming_call_mgs p {
    display: inline-block;
    vertical-align: super;
    padding-left: 10px;
}

.your-message-box.box-msg.job_mgs:before {
    content: '';
    background: url(../img/job.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    vertical-align: top;
}

.friend-message-box.box-msg.job_mgs .friend-message:before {
    content: '';
    background: url(../img/job.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    vertical-align: top;
}

.box-msg.job_mgs p {
    display: inline-block;
    vertical-align: super;
    padding-left: 10px;
    width: calc(100% - 30px);
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: rgb(208, 2, 27) !important;
}

#vid-box {
    width: 470px;
    height: 355px;
}

#vid-box video:first-child {
    width: 100%;
    height: 100%;
}

a.liked, li.liked {
    text-decoration: underline !important;
}

.dis-action.liked {
    text-decoration: none !important;
}

.coment_data li {
    cursor: pointer;
}

.coment_data li:lasst-child {
    cursor: default;
}

.coment_write input[name="comment"] {
    display: block;
}

img.comment_img {
    display: none;
    width: 100px;
    margin-top: 20px;
}

.coment_text img {
    display: block;
    margin-top: 10px;
    max-width: 100px;
    cursor: pointer;
}

.groups-item-title {
    flex: 0;
}

.approved_request {
    padding: 0px !important;
}

.approved_request:after {
    content: none !important;
}

.approved_request:before {
    content: none !important;
}

.event-type-hidden {
    display: none;
}

.avaliable_label {
    width: 49% !important;
    display: inline-block !important;
}

.btn_follow {
    cursor: pointer;
}

.basic_info_edit select.edit_input {
    height: 22px !important;
    padding-top: 0px !important;
    padding-left: 2px !important;
}

.news-box .like_comment, .news-box .reply_comment, ul.coment_data li {
    color: #d8d8d8 !important;
}

.btn_disabled {
    background: linear-gradient(180deg, #aba9a9 0%, #504e4f 100%) !important;
    pointer-events: none;
}

.open_job_profile {
    cursor: pointer;
}

.groups-item-wheel.groups_follow.btn_follow.connection_request:after, .groups-item-wheel.groups_follow.btn_follow.connection_request:before {
    content: none !important;
}

.groups-item-wheel.groups_follow.btn_follow.button_request:after, .groups-item-wheel.groups_follow.btn_follow.button_request:before {
    content: none !important;
}

.groups-item-wheel.groups_follow.btn_follow.connection_request {
    padding-left: 0px;
}

.groups-item-wheel.groups_follow.btn_follow.button_request {
    padding-left: 0px;
}

.edit_input.main_input {
    font-size: 14px;
}

.big_photo_box {
    width: 100% !important;
}

.gallery_group {
    display: block !important;
    text-align: left !important;
}

.gallery_group .item {
    display: inline-block !important;
    vertical-align: top !important;
    width: calc(33% - 20px) !important;
}

.gallery_group .photo_box {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.photos-box.main-box {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    padding-left: 20px;
}

.photos-box.main-box .item {
    display: inline-block;
    vertical-align: top;
}

.group_preview {
    width: calc(50% - 7px);
    transition: 0.3s;
}

.group_preview div {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65px;
    margin-bottom: 10px;
}

.video-grid {
    width: calc(33% - 10px);
    display: inline-block;
}

.video-item {
    width: calc(100% - 10px);
}

.big_photo_box img {
    width: 100%;
    height: auto;
}

.gallery-video .photo-bottom-footer {
    width: 100%;
    padding: 0 10px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #484848 0%, #37080F 100%);
    margin-top: 5px;
}

.gallery-video .photo-bottom-footer a {
    font-size: 12px;
    opacity: .49;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Poppins-Regular';
    transition: all .3s ease;
}

.gallery-video .photo-bottom-footer a i {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 5px;
}

.job_list .open_job_profile {
    color: #D0021B !important;
    font-size: 13px;
    text-align: right;
    font-family: 'Poppins-Medium';
}

.job_list .Apply_for_job a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    height: 41px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-Regular';
    margin-top: 15px;
    width: 150px;
}

.create-line.responsibilities {
    display: block;
}

.create-line.responsibilities input[type='text'] {
    width: 100%;
    margin-top: 10px;
}

.job_mgs .friend-message p span {
    color: #c42539;
}

.job_mgs .friend-message p a {
    display: block;
}

.job_btn_chat {
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    justify-content: center;
    align-items: center;
    width: calc(50% - 5px);
    height: 27px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: inline-block !important;
    margin-top: 10px;
}

.job_btn_chat:hover {
    background: linear-gradient(to bottom, #bb3a46, #A40920);
    color: #fff;
}

.cancel_job.job_btn_chat {
    margin-left: 5px;
}

.plagin_block .dialog {
    position: inherit;
    width: 100%;
    padding-bottom: 0px;
}

.plagin_block .dialog .dialog-footer {
    position: initial;
    width: 100%;
}

#UploadAvatarBox {
    display: none;
    position: fixed;
    width: 60%;
    height: 50%;
    top: 0px;
    margin-left: 20%;
    margin-top: 10%;
    background: #fff;
    z-index: 100002;
}

#UploadAvatarBox img {
    max-width: 100%;
    width: 100%;
}

#UploadImageBox {
    display: none;
    position: fixed;
    width: 60%;
    height: 50%;
    top: 0px;
    left: 20%;
    margin-top: 5%;
    background: #fff;
    z-index: 100002;
}

#UploadImageBox:after {
    content: '';
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

#UploadImageBox .cropper-container {
    z-index: 2;
}

#UploadImageBox img {
    max-width: 100%;
    width: 100%;
}

table#PriceTab {
    width: 100%;
    font-size: 16px;
    margin-top: 25px;
}

table#PriceTab thead tr {
    background: #fff;
    border: 1px solid #fff;
}

table#PriceTab thead tr th {
    padding: 10px;
    text-align: center;
}

table#PriceTab tbody tr td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
}

.payment.box-card {
    background: #d8d8d8;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    float: left;
    width: 100%;
    transition: 0.3s;
    border: 2px solid rgba(208, 2, 27, 0.28);
    margin-top: 10px;
}

.payment.box-card input {
    padding: 10px 15px;
    background: #fff;
    border: 0;
    font-size: 18px;
    font-family: 'sf_ui_textbold', sans-serif;
    letter-spacing: 4px;
    border: 2px solid rgba(208, 2, 27, 0.28);
}

.payment.box-card .number_card {
    width: 100%;
    text-align: center;
}

.payment.box-card .date_card {
    width: 115px;
    text-align: center;
}

.payment.box-card .cvv_card {
    width: 95px;
    text-align: center;
}

.payment.box-card .form-group-card label {
    display: block;
    color: #575757;
    font-size: 14px;
    font-family: 'sf_ui__textregular', sans-serif;
    line-height: 21px;
}

.payment.box-card .form-group-card:nth-child(1) {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.payment.box-card .form-group-card:nth-child(2) {
    width: auto;
    float: left;
    margin-right: 40px;
}

.payment.box-card .form-group-card:nth-child(3) {
    width: auto;
    float: left;
}

.payment.box-card .form-group-card:nth-child(4) {
    width: auto;
    float: left;
    min-width: 150px;
    margin-left: 40px;
}

.payment.box-card .form-group-card:nth-child(5) {
    width: auto;
    float: right;
    min-width: 100px;
}

.payment.box-card label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
}

.form-group-card {
    position: relative;
}

img.cardlabel {
    position: absolute;
    right: 15px;
    bottom: 5px;
    height: 35px;
}

@media (min-width: 1020px) {

    .two-part-row {
        display: flex;
        justify-content: space-between;
    }

    .part-row {
        width: 50%;
        padding: 25px;
    }

}

@media (max-width: 540px) {

    .payment.box-card .number_card,
    .payment.box-card .date_card,
    .payment.box-card .cvv_card,
    .payment.box-card .form-group-card:nth-child(2),
    .payment.box-card .form-group-card:nth-child(3),
    .payment.box-card .form-group-card:nth-child(4) {
        width: 100%;
        text-align: left;
        float: none;
        top: 0;
    }

    .payment.box-card input {
        font-size: 14px;
    }

    .payment.box-card {
        padding: 25px 15px;
    }

    .payment.box-card .form-group-card:nth-child(1),
    .payment.box-card .form-group-card:nth-child(2),
    .payment.box-card .form-group-card:nth-child(3) {
        margin-bottom: 15px;
    }

    img.cardlabel {
        top: -10px;
    }

}

.bl_person_name {
    color: #D0021B;
    margin-top: -20px;
    font-size: 20px;
    margin-bottom: 10px;
    display: none;
}

.bl_person_name:hover {
    color: #D0021B;
}

section#stream .bl_person_name {
    display: block;
}

.stream_box {
    width: calc(82% + 30px);
    max-width: 100%;
    max-height: 100%;
}

#stream_video {
    width: 100%;
    height: 500px;
    display: none;
}

#stream_video video:first-child {
    width: 100%;
    height: 100%;
}

.comment-inner-wrap {
    padding: 30px 0 50px;
    /* background: #e5e5e5; /* Old browsers */
    /* #background: -moz-linear-gradient(top,  #e5e5e5 0%, #808080 100%); /* FF3.6-15 */
    /* #background: -webkit-linear-gradient(top,  #e5e5e5 0%,#808080 100%); /* Chrome10-25,Safari5.1-6 */
    /* #background: linear-gradient(to bottom,  #e5e5e5 0%,#808080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#808080', GradientType=0); /* IE6-9 */
}

.comment-container {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
}

.cnt-top-panel {
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
}

.cnt-top-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.cnt-top-info .left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.cnt-top-info .cnt-date {
    margin-right: 50px;
    text-align: center;
    display: inline-block;
}

.cnt-top-info .cnt-date .month {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    display: block;
}

.cnt-top-info .cnt-date .date {
    color: #D0021B;
    font-size: 24px;
    font-weight: 300;
}

.cnt-top-info .title-group h3 {
    margin: 0;
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

.cnt-top-info .title-group p {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    color: #000;
}

.cnt-top-panel .cnt-top-info {
    margin-bottom: 27px;
}

.cnt-post-data {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.cnt-post-data .left, .cnt-post-data .right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.cnt-btn-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-right: 32px;
}

.cnt-btn-group .btn {
    border: 1px solid #979797;
    padding: 11px 10px 16px 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 46px;
    background-color: transparent;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #4A4A4A;
}

.cnt-btn-group .btn img {
    margin-right: 10px;
}

.cnt-full-time {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.cnt-full-time .icon {
    margin-right: 19px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.full-time-text {
    font-size: 300px;
    font-size: 14px;
    color: #4A4A4A;
}

.cnt-place {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.cnt-place .icon {
    margin-right: 25px;
}

.cnt-place-text {
    font-weight: 500;
    color: #4A4A4A;
    font-size: 14px;
}

.cnt-place-text span {
    display: block;
}

.cnt-show-map {
    margin-left: 40px;
}

.cnt-show-map span {
    font-size: 10px;
    font-weight: 500;
    color: #4A4A4A;
}

.comment-container .tabs-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #979797;
}

.comment-container .tabs-item li {
    flex-grow: 1;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    padding: 23px;
    text-align: center;
    cursor: pointer;
}

.comment-container .tabs-item li.active {
    border-bottom: 2px solid #D0021B;
}

.top-post-box {
    border: 1px solid #4A4A4A;
    margin-bottom: 40px;
    margin-top: 22px;
}

.top-post-box .top-post-options {
    border-bottom: 1px solid #4A4A4A;
}

.top-post-box .top-post-options ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    list-style-type: none;
}

.top-post-box .top-post-options ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.top-post-box .top-post-options ul li a img {
    margin-right: 15px;
}

.top-post-box .top-post-options ul li a::after {
    content: '';
    position: absolute;
    right: 0;
    height: 22px;
    width: 1px;
    background-color: #4A4A4A;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top-post-box .top-post-options ul li a.comment_reply::after {
    content: none;
}

.top-post-box .post-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    padding: 15px 30px 10px;
    background-color: #fff;
}

.top-post-box .post-content .text-wrap {
    width: 100%;
}

.top-post-box .post-content .add_comment_single textarea {
    resize: none;
    width: 100%;
    height: 80px;
    border: none;
}

.btn.going_post.active, .btn.interested_post.active {
    background: #D0021B;
    color: #fff;
}

.coment_block {
    transition: 0.3s;
}

.comment_reply {
    color: #CF121E !important;
    cursor: pointer;
}

.close_comment_reply {
    padding-left: 0px !important;
    cursor: pointer;
    margin-left: -10px;
}

.close_comment_reply i {
    margin-top: -3px;
}

.top-post-box .post-content .img-wrap {
    margin-right: 22px;
    min-width: 50px;
    height: 50px;
}

.top-post-box .post-content p {
    margin: 0;
    color: #4A4A4A;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.dis-post-item {
    margin-bottom: 40px;
}

.dis-post-item.reply-comment-block {
    margin-left: 77px;
    margin-top: -20px;
}

.dis-content img {
    max-width: 100px;
    max-height: 300px;
    display: block;
}

.dis-post-item img-wrap {
    max-width: 100px;
}

.lightbox, .lightboxOverlay {
    z-index: 100000 !important;
}

.dis-top-panel {
    border: 1px solid #000000;
    background: #ef4b5a; /* Old browsers */
    background: -moz-linear-gradient(top, #ef4b5a 0%, #a2071e 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef4b5a 0%, #a2071e 100%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef4b5a 0%, #a2071e 100%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef4b5a', endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 8px 27px;
}

.dis-top-panel .img-wrap {
    margin-right: 24px;
    min-width: 50px;
    height: 50px;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.dis-top-panel .img-wrap img {
    max-width: 50px;
}

.dis-text-box span {
    display: block;
    color: #fff;
}

.dis-text-box span:first-child {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 5px;
}

.dis-text-box span:last-child {
    font-weight: 300;
    font-size: 11px;
}

.dis-action.like_comment:hover span {
    color: #fff;
}

.dis-text-box span a {
    color: #fff;
    text-decoration: none;
}

.comment_form_status:hover {
    color: #4A4A4A !important;
}

.dis-content {
    background: #BCBCBC; /* Old browsers */
    background: -moz-linear-gradient(top, #BCBCBC 0%, #808080 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #BCBCBC 0%, #808080 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #BCBCBC 0%, #808080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BCBCBC', endColorstr='#808080', GradientType=0); /* IE6-9 */
    padding: 30px;
}

.dis-content p {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.dis-content p:last-child {
    margin-bottom: 0;
}

.dis-content p span {
    color: #D0021B;
}

.dis-bottom-panel {
    background: #474445; /* Old browsers */
    background: -moz-linear-gradient(top, #474445 0%, #380c12 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #474445 0%, #380c12 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #474445 0%, #380c12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474445', endColorstr='#380c12', GradientType=0); /* IE6-9 */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px 27px;
}

.dis-action {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.dis-action span {
    opacity: 0.49;
}

.dis-action img {
    margin-right: 10px;
}

.tabs-content-wrap .tab-content-item:not(:first-child) {
    display: none;
}

.cnt-about .top-text {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
}

.cnt-about .top-text span {
    color: #D0021B;
}

.cnt-about-top {
    border: 1px solid #4A4A4A;
    margin-bottom: 30px;
}

.cnt-about-top .top-info {
    padding: 19px 24px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid #4A4A4A;
}

.following-people-list, .sugguestion-friends-list {
    padding: 25px;
    margin: 0;
    border-bottom: 1px solid #4A4A4A;
}

.following-people-list li, .sugguestion-friends-list li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.sugguestion-friends-list li {
    margin-bottom: 20px;
}

.following-people-list li .left, .sugguestion-friends-list li .left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.following-people-list li .left span, .sugguestion-friends-list li .left span {
    font-weight: 300;
    font-size: 14px;
}

.following-people-list li .img-wrap, .sugguestion-friends-list li .img-wrap {
    margin-right: 18px;
    min-width: 50px;
    height: 50px;
    border: 1px solid #979797;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sugguestion-friends-list li .img-wrap {
    border: none;
}

.following-people-list li .img-wrap::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -2px;
    right: -2px;
    background-color: #fff;
    padding: 1px;
    border-radius: 3px;
    background-image: url(../img/check-square.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.following-people-list li .img-wrap img, .sugguestion-friends-list li .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cnt-btn {
    border: 1px solid #D0021B;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    width: 116px;
    text-align: center;
    display: inline-block;
}

.cnt-about-top h4 {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    margin-top: 24px;
    padding-left: 24px;
    margin-bottom: 0;
}

.cnt-about-share-box {
    padding: 19px 27px;
}

.cnt-about-see-all-post {
    text-align: center;
    padding: 19px 24px;
}

.cnt-about-see-all-post a {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}

.cnt-about-share {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.cnt-about-share .icon {
    margin-right: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.cnt-about-share .icon svg path {
    stroke: #4A4A4A;
}

.cnt-about-share .icon svg {
    width: 20px;
    height: 20px;
}

.cnt-about-share .icon svg g {
    opacity: 1;
}

.cnt-about-recent-posts {
    padding: 0;
    margin: 0;
}

.cnt-about-recent-posts li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 22px 25px 30px 25px;
    -ms-align-items: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #4A4A4A;
}

.cnt-about-recent-posts li .img-wrap {
    min-width: 50px;
    height: 50px;
    margin-right: 22px;
}

.cnt-about-recent-posts li .text-box p {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}

.cnt-about-recent-posts li .text-box .data {
    font-weight: 300;
    color: #D0021B;
    font-size: 11px;
}

.login_mobile_popup {
    margin-bottom: 20px;
    display: none;
    padding-top: 6px;
}

.login_mobile_popup_close {
    display: none;
    color: #fff;
}

@media (max-width: 767px) {
    .login_mobile_popup {
        display: block;
    }
    .login_mobile_popup_close {
        display: block;
    }
}

.live-box {
    height: 500px;
}

.live-box .stream-box {
    float: left;
    width: 49%;
    display: inline-block;
}

.live-box .chat-box {
    float: right;
    width: 49%;
    display: inline-block;
}