.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container-nav .item-nav-menu{
    display: flex;
    align-items: center;
    padding: 22px 0;
}

.container-nav .item-nav-menu .navbar{
    padding: 0;
    margin-right: 20px;
}

.brand img{
    width: 120pt;
}

.item-nav-logo {
    min-width: 280px;
    padding-right: 20px;
}

.navbar {
    width: 100%;
}

.main-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;
}

.main-nav .nav-item{
    margin-right: 10px;
}

.main-nav a{
    text-transform: uppercase;
    color:#000;
    text-decoration: none;
    font-family: 'PhosphateInline Roman', sans-serif;
    font-size: 20px;
    display: block;
    height: 30px;
}
.main-nav br {
    display: none;
}
.heaedr-main_2 .main-nav {
    padding-top:20px;
}
.heaedr-main_2 .main-nav a {
    text-transform: none;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins-Light';
    font-size: 11px;
    margin-right:15px;
}
.heaedr-main_2 .top-header-menu {
    background: linear-gradient(180deg, #D8D8D8 0%, #232323 97.36%);
}
.search {
    width: 17%;
}

.search input {
    height: 45px;
    width: 280px;
    max-width: 100%;
    text-transform: uppercase;
    border: none;
    background-color: #D8D8D8;
    background-image: url(../img/serch.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 4% 50%;
    font-family: 'PhosphateSolid Medium';
    font-size: 20px;
    color: #43484D;
    padding-left: 45px;
}
.search input:placeholder {
    color: #43484D;
}

.main-nav li span {
    font-size: 12px;
    font-family: 'Poppins-Light';
    color: #DDDDDD;
}

.top-header-menu{
    background-image: linear-gradient(to bottom, #757575, #5b5b5b, #434343, #161616);
}
.bottom-header-menu {
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.heaedr-main .border,
.header-main .border {
    display: block;
    width: 100%;
    height: 7px;
    background: #D0021B;
    margin-left: -2px;
    margin-top: -1px;
    position: relative;
    z-index: -1;
}
.heaedr-main .border::after,
.header-main .border:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #303030;
    display: block;
    margin-top: 2px;
}
.heaedr-main .border::before,
.header-main .border:before {
    content: "";
    width: 100%;
    height: 3px;
    background: #303030;
    display: block;
    margin-top: 0;
}
.bottom-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.bottom-menu a{
    color:#fff;
    text-decoration: none;
    font-family: 'Poppins-Bold';
    font-size: 16px;
    letter-spacing: 0.5px;
}

.bottom-menu li:first-child:before{
    content: "";
    position: absolute;
    background-image: url(../img/back-icon.svg), linear-gradient(to right bottom, #d33748, #ab2a39, #851f2b, #60131d, #3e090f);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    border: 1px solid #A21F2F;
    border-radius: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    width: 35px;
    justify-content: center;
    left: 0;
    cursor: pointer;

}

.bottom-menu li:first-child{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    padding-right: 80px;
}

.bottom-menu li:nth-child(2){
    background-image: url(../img/human-icon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 4% 50%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;

}
.bottom-menu li:nth-child(2) a{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.bottom-menu li:nth-child(2) a .star {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0px;
    right: -15px;
    background-image: url(../img/star.png);
    background-size: 28px;
    font-size: 9px;
    color: #000;
    padding-top: 8px;
    text-align: center;
}

.bottom-menu li:nth-child(3) a .star {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0px;
    right: 50px;
    background-image: url(../img/star.png);
    background-size: 28px;
    font-size: 9px;
    color: #000;
    padding-top: 8px;
    text-align: center;
}

.bottom-menu li:nth-child(3){
    background-image: url(../img/email-icon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 4% 50%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.bottom-menu li:nth-child(4){
    background-image: url(../img/flag-icon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 4% 50%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    padding-right: 60px;
}
.bottom-menu li:last-child{
    background-image: url(../img/pencil.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 15% 45%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-end;
    border-left: 1px solid #A20E20;
}

.item-nav-menu button{
    padding: 3px;
    border-color: #979797 !important;
    border-radius: 5px;
}

.item-nav-menu button span{
    border: 1px solid #BE1327;
    border-radius: 4px;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;

}

.search-mob {
    display: none;
}

/*MEDIA*/
.nav-item:last-child {
    display: none;
}



@media (max-width: 1300px) {
    .main-nav .nav-item{
        margin-right: 0;
        width: calc(25% - 15px);
    }
    .main-nav a{
        font-size: 18px;
    }
}



@media (max-width: 1219px) {
    .bottom-menu li:first-child a{
        display: block;
    }
    .bottom-menu a{
        color:#fff;
        text-decoration: none;
        font-family: 'Poppins-Bold';
        font-size: 16px;
        letter-spacing: 0.5px;
        display: none;
    }


    .bottom-menu li:first-child:before{
        content: none;
        position: absolute;
        background-image: url(../img/back-icon.svg), linear-gradient(to right bottom, #d33748, #ab2a39, #851f2b, #60131d, #3e090f);
        background-repeat: no-repeat;
        background-position: 60% 50%;
        border: 1px solid #A21F2F;
        border-radius: 50%;
        height: 35px;
        display: flex;
        align-items: center;
        width: 35px;
        justify-content: center;
        left: 0;
        cursor: pointer;
    }
    .bottom-menu li:first-child{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        width: 75%;
        justify-content: start !important;
        padding-right: 0px;
        margin: 0;
        padding-left: 0px;
        order: 1;
        cursor: pointer;
    }

    .bottom-menu li:nth-child(2) a{
        position: relative;
        display: none;
        height: 100%;
        align-items: center;
    }

    .bottom-menu li:nth-child(2){
        background-image: url(../img/human-icon.svg);
        background-repeat: no-repeat;
        background-size: 20px 21px;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        width: 5%;
        justify-content: center;
        order: 3;
        cursor:pointer;
    }
    .bottom-menu li:nth-child(2) a{
        position: relative;
        display: block;
        content: none;
        font-size: 0px;
    }

    .bottom-menu li:nth-child(2) a span{
        position: absolute;
        width: 28px;
        height: 28px;
        top: -7px;
        right: 7px;
        background-image: url(../img/star.png);
        background-size: 28px;
        font-size: 9px;
        color: #000;
        padding-top: 8px;
        padding-left: 5px;
        display: block;
    }

    .bottom-menu li:nth-child(3){
        background-image: url(../img/email-icon.svg);
        background-repeat: no-repeat;
        background-size: 21px 17px;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        width: 5%;
        justify-content: center;
        order: 4;
        cursor:pointer;
    }

    .bottom-menu li:nth-child(4){
        background-image: url(../img/flag-icon.svg);
        background-repeat: no-repeat;
        background-size: 16px 18px;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        width: 5%;
        justify-content: center;
        padding-right: 0px;
        order: 5;
        cursor:pointer;
    }
    .bottom-menu li:last-child{
        background-image: url(../img/pencil.svg);
        background-repeat: no-repeat;
        background-size: 28px;
        background-position: 15% 45%;
        height: 100%;
        display: flex;
        align-items: center;
        width: 5%;
        justify-content: flex-end;
        border-right: 1px solid #A20E20;
        border-left: none;
        order: 2;
        cursor:pointer;
    }


}


@media (max-width: 991px) {
    .navbar {
        justify-content: flex-end;
        position: absolute;
        left: 0;
        padding: 0;
        top: 37px;
    }
    .navbar-collapse {
        position: relative;
        z-index: 60;
        margin-top: 67px;
        background-color: rgba(101, 100, 99, 0.9);
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

    .nav-item {
        position: relative;
    }
    .nav-item:last-child {
        display: block;
        padding: 0;
    }
    .nav-item:last-child::after {
        content: none;
    }
    .main-nav .nav-item{
        width: 100%;
    }
    .search-menu {
        width: 100%;
    }
    .search-menu input{
        height: 45px;
        width: 80%;
        max-width: 100%;
        border: none;
        background-color: #D8D8D8;
        background-image: url(../img/serch.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 4% 50%;
        font-family: 'PhosphateSolid Medium';
        font-size: 20px;
        color: #43484D;
        padding-left: 60px;
    }

    .nav-item::after{
        content: "";
        display: block;
        width: 74%;
        height: 2px;
        background: #888787;
        margin: 25px auto;
        padding: 0px;
    }

    .navbar-toggler {
        margin: .5rem 1rem;
    }


    .search {
        display: none;
    }
    .search-mob {
        display: block;
        position: absolute;
        right: 15px !important;
        z-index: 9999;
        top: 90px;
    }
    .search-mob input {
        height: 45px;
        width: 35px;
        max-width: 100%;
        max-width: 100%;
        border: none;
        background-image: url(../img/search-mob.svg);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 4% 50%;
        font-family: 'PhosphateSolid Medium';
        font-size: 20px;
        color: #43484D;
        cursor: pointer;
        padding-left: 35px;
        background-color: rgba( 255, 0, 0, 0);
    }
    .search-mob:hover input {
        height: 45px;
        width: 200px;
        max-width: 100%;
        border: none;
        background-color: #D8D8D8;
        background-image: url(../img/serch.svg);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: 4% 50%;
        font-family: 'PhosphateSolid Medium';
        font-size: 20px;
        color: #43484D;
        padding-left: 45px;
        transition: 0.5s;
        position:relative;
        left: 0;
    }
    .item-nav-logo {
        width: 130px;
        position: relative;
        z-index: 1000;
        min-width: 235px;
    }
    .brand img {
        width: 100%;
    }



}

@media (max-width:767px){
    .sidebar {
        height: auto !important;
    }
}