.login-form input {
    overflow: visible;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background: white;
    width: 80%;
    margin-bottom: 10px;
    font-size: 16px;
}
.edit-blog {
    color: #ffffff;
}
