@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

header.heaedr-main,
header.header-main {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99999;
}

.table-1,
.table-2 {
    width: 100%;
    border: none;
    box-shadow: none;
}

.left-table,
.right-table {
    width: 50%;
}

.right-table {
    border-left: 1px solid;
    box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
}

.profile h2 {
    font-weight: 700;
}

.bottom-menu li {
    justify-content: flex-start !important;
    padding-left: 50px;
}

.bottom-menu li:last-child {
    background-position: 15px 45%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100vh - 206px); */
    position: sticky;
    position: -webkit-sticky;
    top: 180px;
    padding-bottom: 100px;
}

.main-footer {
    background-color: #000000;
    color: #fff;
}

.main-footer .ft-wrap {
    padding: 20px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.main-footer .ft-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.main-footer .ft-info ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-footer .ft-info ul li {
    margin-right: 35px;
}

.main-footer .ft-info ul li a {
    font-size: 14px;
    color: #fff;
}

.logout-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-top: 20px;
    padding-right: 5px;
    background-color: #000;
    color: #43484D;
    background-image: url(../img/logout.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 40px;
    box-shadow: 0px -1px 0px 0px rgb(86, 86, 86);
}

.logout-link:hover {
    color: #43484D;
    opacity: 0.7;
}

.profile .m_container_soc {
    flex: 1;
}

.data-dob {
    padding-left: 25px;
    background-image: url(../img/calendar.svg);
    background-position: left 1px;
    background-size: 15px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.profile table td {
    color: #fff !important;
    font-weight: 300;
}

.profile p {
    color: #fff !important;
    font-weight: 300;
}

.profile .b_block_inf a,
.profile .m_block_soc a,
.b_block_inf a,
.m_block_soc a {
    color: #CF121E;
    text-decoration: none;
}

.m_block_soc a b {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

.profile .b_block_inf a:hover,
.profile .m_block_soc a:hover,
.b_block_inf a:hover,
.m_block_soc a:hover {
    color: #CF121E;
    text-decoration: none;
    opacity: 0.85;
}

.owl-carousel .owl-nav button:hover {
    opacity: 0.85;
}

.owl-carousel .owl-nav button.owl-prev {
    background-image: url(../img/arrow-r.svg), linear-gradient(to top, #f4505e, #df404d, #ca303c, #b51e2c, #a0051c);
    transform: rotate(180deg);
}

.owl-nav button.disabled {
    filter: grayscale(1);
    pointer-events: none;
}

.main_wrap .main_container {
    padding: 20px 0 0;
    margin: 0;
    align-items: initial;
}

.profile .b_block_inf {
    color: #fff;
}

.main_wrap .main_container .m_left_block {
    position: relative;
    min-height: calc(100vh - 205px);
    padding: 0;
}

.m_left_block a.logout-link {
    right: 0;
    left: -20px;
}

.left-sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 205px;
    overflow-y: auto;
    height: calc(100vh - 205px);
    padding: 0 40px 0;
}

.main_wrap .main_container .m_right_block {
    padding-bottom: 40px;
}

.user-name-link,
.person-text>p>a,
.bl_person_inf>div>a {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}

.user-name-link:hover,
.person-text>p>a:hover,
.bl_person_inf>div>a:hover {
    color: #fff;
    opacity: 0.8;
}

.groups-tab-link {
    color: #fff;
    border: 1px solid #979797;
    padding: 13.5px 25px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.groups-tab-link:hover {
    opacity: 0.8;
    background-color: #979797;
    color: #fff;
}

.main_wrap .main_container .m_right_block .m_bg_container {
    height: auto;
    min-height: 400px;
    /* height: 400px; */
    background-color: #fff;
    /* background-size: cover; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.m_bg_container img {
    display: block;
    width: 100%;
    height: auto;
    max-height: inherit;
}

.m_bg_container h2 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    font-family: 'Rubik One', sans-serif;
    font-size: 72px;
    background: linear-gradient(45deg, #322AB2, #4BAAE0, #A2DE71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    z-index: 5;
}

.post-featured-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 550px;
    object-fit: cover;
    object-position: center;
}

.m_bg_container img.post-mini-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 130px;
    height: 130px;
    object-fit: contain;
    object-position: center;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .bot_line a img {
    top: -1px;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl a img {
    top: -2px;
}

.m_rl_top {
    display: block;
}

.main_wrap.page-2 .main_container .six_section {
    padding-bottom: 40px;
}

.dialog {
    display: block;
    pointer-events: none;
    position: fixed;
    top: 188px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    color: #fff;
    padding: 20px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    opacity: 0;
}

.dialog.active {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

.summit_map {
    display: block;
    width: 100%;
    height: 550px;
    max-height: 0;
    overflow: hidden;
    background-color: #979797;
    opacity: 0;
    transition: all 0.3s ease;
}

.summit_map.active {
    max-height: 550px;
    opacity: 1;
}

.star-icon,
.check-icon {
    margin-right: 6px;
    position: relative;
    top: -2px;
}

.summit_btns a.active .star-icon path {
    fill: #CF121E;
}

.summit_btns a.active .check-icon path {
    stroke: #25cf12;
}

.messages-list {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
}

.chat-opened .messages-list {
    position: absolute;
    transform: translateX(-150%);
}

.chat-window {
    transition: all 0.3s ease;
    position: absolute;
    /* transform: translateX(100%); */
    opacity: 0;
    overflow: hidden;
}

.chat-opened .chat-window {
    transform: none;
    position: relative;
    opacity: 1;
}

.dialog-header {
    border-bottom: 1px solid #D0021B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.dialog-header-title {
    padding-left: 40px;
    background-image: url(../img/envelope.svg);
    background-size: 28px;
    background-position: left;
    background-repeat: no-repeat;
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dialog-header-title h3 {
    margin: 0;
    font-size: 14px;
}

.dialog-header-title span {
    display: block;
    font-size: 12px;
}

.dialog-header-title span .red {
    color: #D0021B;
}

.dialog-header-search {
    background-image: url(../img/dialog-search.svg);
    background-position: right;
    background-size: 15px;
    min-width: 25px;
    height: 25px;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.dialog-header-search input {
    width: 0px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    height: 25px;
    outline: none !important;
    transition: all 0.3s ease;
}

.dialog-header-search:hover,
.dialog-header-search:focus {
    width: auto;
    /*background-image: none;*/
}

.dialog-header-search:hover input,
.dialog-header-search:focus input,
.dialog-header-search input:focus,
.dialog-header-search input:not(.placeholder-shown) {
    width: 120px;
    padding-right: 20px;
}

.dialog-header-search input:not(:placeholder-shown) {
    width: 120px;
    padding-right: 20px;
}

.dialog-header-search input::placeholder {
    color: transparent;
}

.dialog-header-search input::-webkit-input-placeholder {
    color: transparent;
}

.dialog-header-search input::-moz-placeholder {
    color: transparent;
}

.dialog-header-search input:-ms-input-placeholder {
    color: transparent;
}

.dialog-header-search input:-moz-placeholder {
    color: transparent;
}

.dialog-header-message {
    width: 25px;
    height: 25px;
    background-image: url(../img/dialog-message.svg);
    background-size: 20px;
    background-position: center top;
    background-repeat: no-repeat;
}

.dialog-body {
    padding-top: 20px;
    max-height: 400px;
    overflow: auto;
    padding-bottom: 170px;
    width: calc(100% + 17px);
}

.dialog-message-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    cursor: pointer;
}

.message-author {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.message-top-line {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
}

.message-content p {
    font-size: 12px;
    font-weight: 300;
}

.dialog-message-box.readed {
    color: #6d6f6f;
}

.chat-call {
    width: 25px;
    height: 25px;
    background-image: url(../img/telephone.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    cursor: pointer;
}

.chat-video-call {
    width: 25px;
    height: 25px;
    background-image: url(../img/video-camera.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.chat-back {
    width: 25px;
    height: 40px;
    background-image: url(../img/back.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 35px;
    cursor: pointer;
}

.chat-person {
    text-align: center;
    flex: 1;
}

.chat-person p {
    font-size: 14px;
    font-weight: 600;
}

.chat-person span {
    font-size: 12px;
    font-weight: 300;
}

.date-line {
    text-align: center;
    margin-bottom: 15px;
}

.friend-message {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-top-left-radius: 0;
}

.dialog-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: #43484D;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog-footer input[type='text'] {
    display: block;
    width: 85%;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}

.dialog-footer input[type='submit'] {
    display: block;
    width: 15%;
    background-image: url(../img/send.png);
    background-size: 25px;
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: transparent;
}

.upload-button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    height: 41px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-Regular';
    margin: 12px 0 0;
    transition: 0.3s;
    cursor: pointer;
}

#ApplyCropp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    height: 41px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-Regular';
    margin: 12px 0 0;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    width: 200px;
    float: right;
    margin-right: 15px;
    z-index: 2;
}

#CancelCropp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    height: 41px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-Regular';
    margin: 12px 0 0;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    width: 200px;
    float: right;
    z-index: 2;
}

.upload-button-wrapper:hover,
#ApplyCropp:hover,
#CancelCropp:hover {
    color: #FFFFFF;
    background: linear-gradient(180deg, #e64351 0%, #7d0013 100%);
}

.upload-button-wrapper input {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}

#UploadAvatarBox:after {
    content: '';
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

#UploadAvatarBox .cropper-container {
    z-index: 2;
}

body.overflow {
    overflow: hidden;
}

.post-button {
    border: none;
}

@media (min-width: 1025px) {
    .dialog {
        width: 400px;
        left: auto;
        top: auto;
        right: 0px;
        bottom: 0;
        padding: 0px 0 25px 0px;
    }
    .dialog-message-box {
        padding-right: 25px;
    }
    .message-content p {
        padding-right: 30px;
    }
    .dialog-header {
        background: #000000;
        z-index: 999;
        position: relative;
        padding: 25px 20px 15px 25px;
    }
    .dialog.active.chat-opened .messages-list {
        display: none;
    }
    .dialog-footer {
        left: auto;
        width: 400px;
    }
    .dialog-body {
        padding: 20px 25px 70px;
    }
}

.friend-message p,
.your-message-box p {
    font-size: 12px;
    color: #fff;
}

.your-message-box {
    margin-left: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #a0051c;
}

.friend-message-box {
    display: flex;
    /*justify-content: space-between;*/
}

.popup-opened {
    overflow: hidden;
}

.grops-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.groups-item {
    width: calc(50% - 27.5px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.groups-item img {
    display: block;
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    margin-right: 13px;
}

.groups-item-content {
    background-color: rgba(216, 216, 216, 0.65);
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 20px;
    position: relative;
}

.groups-item-title,
.profile .groups-item:not(.follow-item) .groups-item-title {
    display: block;
    flex: 1;
}

.groups-item-title b {
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 20px;
    color: #4A4A4A;
}

.groups-item-title span {
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
    color: #D0021B;
}

.groups-item-wheel {
    display: block;
    width: 116px;
    height: 41px;
    background-image: url(../img/wheel.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 30px;
}

.groups-item-wheel.groups_follow {
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
}

.groups-item-wheel.groups_follow .empty_btn {
    display: flex;
    width: 32px;
    height: 100%;
    border-right: 1px solid #F55160;
}

.groups-item-wheel.groups_follow .follow_btn {
    width: 84px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #9F041B;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}

.groups-item-options {
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: rgba(216, 216, 216, 0.86);
    border: 1px solid #979797;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 20px;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.groups-item-wheel:focus+.groups-item-options,
.groups-item-options:hover {
    opacity: 1;
    pointer-events: all;
}

.groups-item-options li a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
    color: #4A4A4A;
}

.groups-item-options li a:hover {
    color: #D0021B;
}

.buttons-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.create-group-button,
.group-bar-link {
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    width: 172px;
    height: 50px;
    line-height: 50px;
    color: #fff !important;
    text-align: center;
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.open-bar-link {
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    width: 172px;
    height: 50px;
    line-height: 50px;
    color: #fff !important;
    text-align: center;
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 15px;
}

.main-video {
    width: 100%;
}

.gallery-video {
    padding-top: 20px;
}

.gal_top_left p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.gallary .video-top {
    margin: 0;
    height: auto;
    padding: 20px 0 25px;
}

.video-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 30px;
}

.video-item {
    display: block;
    width: calc(33.3333% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;
}

.video-item:nth-child(3n) {
    margin-right: 0;
}

.video-item img {
    display: block;
    width: 100%;
}

.video-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #fff;
}

.video-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.content-part {
    width: 84%;
    display: flex;
    flex-wrap: wrap;
}

.post-bar {
    width: 100%;
    background-color: rgba(216, 216, 216, 0.41);
    opacity: 0;
    max-height: 0;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

.post-bar.active {
    margin: 30px 30px 35px 0;
    opacity: 1;
    max-height: 5000px;
}

.post-bar:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #979797;
    bottom: -30px;
}

.post-bar-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 78px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.post-bar-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding-right: 62px;
    border: none;
    border-right: 1px solid #fff;
    height: 26px;
    background-image: url(../img/select-arrow.svg);
    background-position: calc(100% - 20px);
    background-size: 20px;
    background-repeat: no-repeat;
}

.post-bar-heading a {
    display: block;
    text-align: center;
    padding: 0 40px 0 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-position: 25px;
    background-size: 20px;
    background-repeat: no-repeat;
    border-right: 1px solid #fff;
}

.photo-album {
    background-image: url(../img/photo-icon.svg);
}

.video-album {
    background-image: url(../img/video-icon.svg);
}

.post-bar-content {
    color: #fff;
    padding: 25px 78px 0;
}

.post-bar-content p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
    color: #FFFFFF;
}

.post-bar-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.post-button {
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    display: block;
    width: 141px;
    line-height: 41px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-part .slider {
    width: calc(50% - 30px);
}

.content-part .about {
    width: calc(50% - 30px);
}

.post-button:hover {
    opacity: 0.7;
    color: #fff;
}

.post-bar-select option {
    color: #575757;
}

.create-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px 0;
}

.upload-section img {
    display: block;
    width: 100%;
}

.upload-section {
    width: 50%;
    position: relative;
}

.create-line .upload-section input {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}

.create-line input,
.create-line select,
.create-line textarea {
    display: block;
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.create-line select option {
    color: #575757;
}

.stream-items {
    display: flex;
    flex-wrap: wrap;
}

.stream-item-box {
    width: calc(25% - 30px);
    margin: 15px;
    background-color: #000;
}

.stream-item-box a {
    display: block;
    width: 100%;
}

.stream-promo-image {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}


/* .stream-item-info {
    padding: 15px;
} */

.stream-item-info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.stream-user-name {
    font-size: 16px;
    font-weight: 700;
    color: #7d0013;
}

.stream-user-icon {
    display: block;
    width: 14px;
    height: 14px;
    margin-left: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stream-user-icon-male {
    background-image: url(../img/male-icon.svg);
}

.stream-user-icon-female {
    background-image: url(../img/female-icon.svg);
}

.stream-user-origin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.stream-user-origin span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.bottom-line {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #35ff8b;
    border-bottom: 1px solid #35ff8b;
    border-top: 1px solid #35ff8b;
    padding: 5px 15px;
}

.start-streem-btn {
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    color: #fff;
    padding: 15px 25px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
}

.start-streem-btn:hover {
    background: linear-gradient(to bottom, #A40920, #EF4B5A);
    color: #fff;
}

.stream-type {
    position: relative;
    padding-left: 25px;
}

.stream-type:before {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #35ff8b;
    left: 0;
    top: 50%;
    margin-top: -6px;
}

.stream-container {
    padding: 0!important;
    background: #070707!important;
}

.stream-container .live-box {
    display: flex;
}

.stream-container .live-box .chat-box,
.stream-container .live-box .stream-box {
    width: 50%;
    display: block;
}

.stream-live-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.stream-viewer {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-right: auto;
}

.stream-live-info input {
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.live-box .chat-box {
    display: flex!important;
    flex-direction: column;
}

#chatBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    color: #6d6f6f;
    max-height: 500px;
    overflow: auto;
}

#chatInput {
    color: #fff;
    background: #000;
    border: none;
    box-shadow: none;
    padding: 15px;
    border-top: 1px solid #d0021b;
    width: 100%;
}

.message-block b {
    color: #fff;
}

@media (max-width: 1199px) {
    .groups-item-content {
        padding: 0 5px 0 5px;
    }
    .groups-item-wheel {
        margin-left: 10px;
    }
    .groups-item {
        width: calc(50% - 10px);
    }
    .stream-item-box {
        width: calc(33.333% - 20px);
        margin: 10px;
    }
}

@media (max-width: 992px) {
    .groups-item {
        width: 100%;
        margin-bottom: 15px;
    }
    .main-video {
        height: 450px;
    }
    .gal_top_left p {
        text-align: center;
    }
    .content-part .slider,
    .content-part .about,
    .content-part {
        width: 100%;
    }
    .post-bar-heading,
    .posr-bar-content {
        padding: 15px 25px;
    }
    .content-part .post-bar.active {
        margin: 20px 0 0;
    }
    .post-bar-heading {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .post-bar-select,
    .post-bar-heading a {
        padding-left: 0;
        border: none;
        margin: 5px 0;
        width: 100%;
        text-align: left;
        background-position: right;
    }
}

@media (max-width: 768px) {
    .stream-live-info input {
        padding: 5px 3px;
        margin-left: 5px;
        font-size: 11px;
    }
    .stream-live-info {
        padding: 10px;
    }
    .stream-viewer {
        font-size: 12px;
    }
    body #stream_video {
        height: auto;
    }
    .stream-item-box {
        width: calc(50% - 20px);
    }
    .bottom-line,
    .stream-user-origin span,
    .stream-user-name {
        font-size: 12px;
    }
    .video-item {
        width: 100%;
        margin-right: 0;
    }
    .main-footer .ft-info ul li {
        margin: 0 10px 10px 10px;
    }
    .main-footer .ft-wrap {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
    }
    .create-line {
        flex-wrap: wrap;
    }
    .upload-section,
    .create-line input,
    .create-line select,
    .create-line textarea {
        width: 100%;
    }
    .stream-container .live-box {
        flex-direction: column;
        height: auto;
    }
    .stream-container .live-box .chat-box,
    .stream-container .live-box .stream-box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .groups-item {
        flex-direction: column;
    }
    .groups-item img {
        display: block;
        width: 100%;
        height: 240px;
        margin-right: 0;
    }
    .groups-item-content {
        padding: 15px 15px 15px 20px;
    }
    .main-video {
        height: 250px;
    }
    .stream-item-info-line {
        align-items: flex-start;
        padding: 10px;
        flex-direction: column;
    }
    .stream-type {
        padding-left: 15px;
    }
    .stream-type:before {
        width: 8px;
        height: 8px;
        margin-top: -4px;
    }
    .bottom-line {
        padding: 5px 10px;
        flex-direction: row;
    }
}