.mebmers_group_left {
    max-width:280px;
    padding: 10px 20px 30px;
    background-color:#4A4A4A;
    margin-right:20px;
}
.mar_top_35{
    margin:35px 0 0;
}

.group_videos{
    display:flex;
    margin:20px 0 25px;
    justify-content:space-between;
    flex-wrap:wrap;
}
.group_videos a{
    width:calc(50% - 7px);
    transition:0.3s;
}
.group_videos a:hover{
    opacity:0.7;
}
.group_videos a img{
    max-width:100%;
}
.mebmers_group_left h6 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
}
.mebmers_group_left .members_profile{
    margin:20px 0 15px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.mebmers_group_left .members_profile a{
    transition:0.3s;
}
.mebmers_group_left .members_profile a:hover{
    opacity:0.7;
}
.mebmers_group_left .members_profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px 15px;
    object-fit: cover;
    object-position: center;
}
.members_profile_photo{
    margin:20px 0 15px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.members_profile_photo img{
    width:90px;
    height:90px;
    margin:0 10px 15px;
}
.mebmers_group_left .members_profile_photo a{
    transition:0.3s;
}
.mebmers_group_left .members_profile_photo a:hover{
    opacity:0.7;
}
.mebmers_group_left .view_all {
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 41px;
    margin: auto;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.mebmers_group_left .view_all:hover{
    background: linear-gradient(to bottom, #bb3a46, #A40920);
}
.mebmers_group_right {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
    background-image: url(../img/Abstract-abstract.gif);
    background-size: cover;
}
.mebmers_group_right .group_photo{
    width: 300px;
    padding: 15px;
    background-color: #0c0c0c;
}
.mebmers_group_right .group_photo img{
    width:100%;
    max-height:100%;
    object-position:center;
    object-fit:cover;
}
.mebmers_group_right .group_decription {
    width: calc(100% - 300px);
    background-color: rgba(0, 0, 0, 0.75);
    padding-left: 15px;
    padding-bottom: 15px;
}
.mebmers_group_right .group_decription h6{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    font-weight:400;
    padding:30px 0 20px;
}
.mebmers_group_right .group_decription p{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight:400;
    margin: 0 0 15px;
}
.mebmers_group_right .group_decription a{
   background: linear-gradient(to bottom, #EF4B5A, #A40920);
    display: flex;
    justify-content:center;
    align-items:center;
    width: 140px;
    height: 41px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    transition:0.3s;
}
.mebmers_group_right .group_decription a:hover{
   background: linear-gradient(to bottom, #bb3a46, #A40920);
}

@media (max-width: 991px) {
    .mebmers_group_right {
        flex-direction: column;
        align-items: center;
    }
     .mebmers_group_right .group_photo {
         width: 100%;
         padding:20px 0 0;
         text-align:center;
     }
         .mebmers_group_right .group_photo img {
             max-width: 270px;
         }
     .mebmers_group_right .group_decription {
         width: 100%;
         padding: 15px;
     }
   .mebmers_group_right .group_decription h6 {
       font-size: 32px;
       padding: 15px 0 10px;
   }
}

@media (max-width: 767px) {
    .mebmers_group_left {
        max-width: 100%;
    }

        .mebmers_group_left .members_profile {
            justify-content: space-around;
        }

    .members_profile_photo {
        justify-content: space-around;
    }
}