body {
    background: #303030;
}

.profile .container {
    display: flex;
}

.main-container {
    width: 100%;
    display: flex;
}

.main-container .container {
    display: flex;
}

.profile h2 {
    color: #fff;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about {
    width: calc(42% - 30px);
    margin: 0 30px;
    margin-top: 20px;
}

.profile p {
    color: #878787;
    text-align: justify;
    line-height: 22px;
    font-family: 'Poppins-Regular';
}

.profile p span {
    color: #D0021B;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
    display: block;
}

.profile table td {
    color: #fff;
    font-family: 'Poppins-Regular';
}

.profile table td:first-child {
    font-weight: 600;
    padding-right: 25px;

}

.profile table td:nth-child(2) {
    color: #878787;
}

.table-grup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.table-1 {
    width: 50%;
}

.table-2 {
    border-left: 1px solid;
    padding-left: 30px;
    margin-left: 30px;
    width: 50%;
    -webkit-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    -moz-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
}

.owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    width: 60px;
    height: 55px;
    background-image: url(../img/arrow-l.svg), linear-gradient(to bottom, #f4505e, #df404d, #ca303c, #b51e2c, #a0051c);
    background-position: center;
    background-repeat: no-repeat;
}

.owl-nav .owl-prev span {
    display: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    width: 55px;
    height: 55px;
    background-image: url(../img/arrow-r.svg), linear-gradient(to bottom, #f4505e, #df404d, #ca303c, #b51e2c, #a0051c);
    background-repeat: no-repeat;
    margin-left: 5px;
}

.owl-nav .owl-next span {
    display: none;
}

.owl-dots {
    display: none;
}

.slider {
    width: 33%;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}

.sidebar {
    width: 15%;
    border-left: 1px solid;
    padding-left: 30px;
    -webkit-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    -moz-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
}

.profile .sidebar .bl_person_photo img {
    width: 100%;
}

.profile .m_container_inf {
    padding: 32px 0 15px;
    position: relative;
    -webkit-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    -moz-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    box-shadow: 0px 1px 0px 0px rgb(86, 86, 86);
    border-bottom: 1px solid;
}

.profile .b_block_inf {
    color: #ffffff;
    font: 14px 'Poppins-Light';
    margin-bottom: 10px;
    color: #878787;
}

.profile .m_container_soc {
    padding: 20px 0 0;
}

.profile .bl_person_inf {
    padding: 10px 0 15px;
    position: relative;
    -webkit-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    -moz-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
    box-shadow: 0px 1px 0px 0px rgb(86, 86, 86);
    border-bottom: 1px solid;
}

.profile .b_block_inf span {
    color: #CF121E;
}

.profile .b_block_inf b {
    color: #fff;
    font-weight: normal;
}

.profile .m_block_soc {
    color: #ffffff;
    font: 14px 'Poppins-Light';
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #878787;
}

.profile .m_soc_ic {
    margin: 25px 0 0;
}

.profile .m_container_soc .m_block_soc img {
    margin: -1px 10px 0 0;
}

.profile .m_container_soc .m_block_soc span {
    color: #CF121E;
    padding-left: 5px;
}

.profile .m_container_soc .m_soc_ic img {
    margin-right: 10px;
    transition: 0.3s;
}

.profile .bl_person_inf div {
    color: #878787;
}

.profile .m_l_top {
    margin-top: 20px;
}

.container-logout {
    display: flex;
    align-items: flex-end;
    height: 28%;
    position: relative;
}

.container-logout::before {
    content: "";
    position: absolute;
    width: 170px;
    left: 0;
    height: 50px;
    margin-left: -30px;
    margin-top: 14px;

}

.modal-video {
    position: relative;
}

.modal-video::after {
    content: "";
    position: absolute;
    display: block;
    width: 42px;
    height: 100%;
    background: url(../img/icon-play-video.svg);
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.follow-item .groups_follow {
    color: #fff;
    text-align: center;
    line-height: 41px;
    font-family: Poppins;
    font-size: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 25px;
}

.follow-item .groups_follow:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    display: block;
    width: 1px;
    background-color: #F55160;
}

.follow-item .groups_follow:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 31px;
    display: block;
    width: 1px;
    background-color: #9F041B;
}

.follow-item .groups-item-options li:nth-last-child(1) a {
    color: #D0021B;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #979797;
    display: block;
}

/*MEDIA*/
@media (max-width: 991px) {
    .navbar {
        justify-content: flex-end;
    }

    .main-container {
        flex-wrap: wrap;
    }

    .slider {
        width: 100%;
    }

    .about {
        width: calc(76% - 30px);
        margin: 0 30px;
        margin-top: 20px;
    }

    .sidebar {
        width: 100%;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-bottom: 45px !important;
    }

    .profile .m_container_soc {
        margin-bottom: 20px;
    }

}

@media (max-width: 699px) {
    .table-grup {
        flex-wrap: wrap;
    }

    .left-table, .right-table {
        width: 100% !IMPORTANT;
    }

    .left-table, .right-table {
        width: 100%;
    }

    .right-table {
        border-top: 1px solid;
        box-shadow: 0px -1px 0px 0px rgb(86, 86, 86) !IMPORTANT;
        margin-top: 15px;
        border-left: none;
    }

    .table-2 {
        border-left: 1px solid;
        padding-left: 0;
        margin-left: 0;
        width: 50%;
        -webkit-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
        -moz-box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
        box-shadow: -1px 0px 0px 0px rgb(86, 86, 86);
        margin-top: 15px;
    }

    .profile table td:first-child {
        font-weight: 600;
        padding-right: 25px;
        width: 50%;
    }

}

@media (max-width: 796px) {
    .about {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        border-left: none !important;
        -webkit-box-shadow: 0px 0px 0px 0px rgb(86, 86, 86);
        -moz-box-shadow: 0px 0px 0px 0px rgb(86, 86, 86);
        box-shadow: 0px 0px 0px 0px rgb(86, 86, 86);
        padding-left: 0px;
        margin: 0 30px;
        height: auto !important;
    }

}

