/*main settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

body {
    font-size: 14px;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.container-fluid {
    max-width: 1400px;
    margin: auto;
}

.wrapper {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper:before {
    display: table;
    content: "";
}

.wrapper::after {
    clear: both;
    display: table;
    content: "";
}

.main_wrap {
    background-color: #303030;
}

.main_wrap .main_container {
    padding: 25px 0 0;
    display: flex;
    align-items: flex-start;
}

.main_wrap .main_container .m_left_block {
    width: 280px;
    padding: 0 40px 0;
    position: relative;
}

.main_wrap .main_container .m_left_block .l_close {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    cursor: pointer;
}

.main_wrap .main_container .m_left_block .m_l_top {
    display: flex;
    margin: 0 0 30px;
}

.main_wrap .main_container .m_left_block .m_l_top .bl_person_photo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.main_wrap .main_container .m_left_block .m_l_top .bl_person_photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.main_wrap .main_container .m_left_block .m_l_top .bl_person_inf .bck_to_prf {
    color: #ffffff;
    font: 16px 'Poppins-ExtraLight';
    display: block;
    margin: 5px 0 0px;
}

.main_wrap .main_container .m_left_block .m_l_top .bl_person_inf .ab_me {
    color: #CF121E;
    font: 14px 'Poppins-Bold';
}

.main_wrap .main_container .m_left_block .m_container_inf {
    padding: 32px 0 15px;
    border-top: 1px solid #585857;
    border-bottom: 1px solid #585857;
    position: relative;
}

.main_wrap .main_container .m_left_block .m_container_inf .b_block_inf {
    color: #ffffff;
    font: 14px 'Poppins-Light';
    margin-bottom: 17px;
}

.main_wrap .main_container .m_left_block .m_container_inf .b_block_inf a {
    color: #CF121E;
}

.main_wrap .main_container .m_left_block .m_container_inf .b_block_inf a b {
    color: #fff;
    font-weight: normal;
}

.main_wrap .main_container .m_left_block .m_container_inf:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0px;
    background: #030304;
}

.main_wrap .main_container .m_left_block .m_container_inf:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    background: #030304;
}

.main_wrap .main_container .m_left_block .m_container_soc {
    padding: 20px 0 0;
}

.main_wrap .main_container .m_left_block .m_container_soc .m_block_soc {
    color: #ffffff;
    font: 14px 'Poppins-Light';
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.main_wrap .main_container .m_left_block .m_container_soc .m_block_soc a {
    color: #CF121E;
    padding-left: 5px;
}

.main_wrap .main_container .m_left_block .m_container_soc .m_block_soc img {
    margin: -1px 10px 0 0;
}

.main_wrap .main_container .m_left_block .m_container_soc .m_soc_ic {
    margin: 25px 0 0;
}

.main_wrap .main_container .m_left_block .m_container_soc .m_soc_ic img {
    margin-right: 10px;
    transition: 0.3s;
}

.main_wrap .main_container .m_left_block .m_container_soc .m_soc_ic img:hover {
    opacity: 0.7;
}

.main_wrap .main_container .m_right_block {
    width: calc(100% - 280px);
}

.main_wrap .main_container .m_right_block .m_r_top {
    height: 80px;
    padding: 0 0px 0 25px;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    border: 1px solid #030304;
    display: flex;
    justify-content: space-between;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top {
    margin: 12px 0 0;
    display: flex;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top .ph_person {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top .ph_person img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top .person_text {
    color: #ffffff;
    margin: 5px 0 0;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top .person_text p {
    font: 14px 'Poppins-Regular';
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top .person_text span {
    font-family: 'Poppins-Bold';
}

.main_wrap .main_container .m_right_block .m_r_top .m_rl_top .person_text .fon-f-light {
    font: 13px 'Poppins-ExtraLight';
}

.main_wrap .main_container .m_right_block .m_r_top .m_rr_top {
    height: 80px;
    display: flex;
    align-items: center;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rr_top a {
    margin-right: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.main_wrap .main_container .m_right_block .m_r_top .m_rr_top a span {
    padding-left: 10px;
    font: 14px 'Poppins-Bold';
}

.main_wrap .main_container .m_right_block .m_bg_container {
    height: 400px;
    border-bottom: 2px solid #303030;
}

.main_wrap .main_container .m_right_block .m_bot_container {
    padding: 20px 60px 35px 80px;
    background: linear-gradient(to bottom, #E4E4E4, #818181);
}

.main_wrap .main_container .m_right_block .m_bot_container .m_data {
    display: flex;
    align-items: center;
    color: #303030;
    font: 15px 'Poppins-Bold';
    padding-bottom: 15px;
}

.main_wrap .main_container .m_right_block .m_bot_container .m_data span {
    padding-left: 5px;
    color: #CF121E;
    font: 15px 'Poppins-Bold';
}

.main_wrap .main_container .m_right_block .m_bot_container .m_data img {
    padding-right: 15px;
}

.main_wrap .main_container .m_right_block .m_bot_container .m-bot-text {
    color: #030304;
    font: 14px 'Poppins-Regular';
    line-height: 22px;
    border-top: 2px solid #a7a7a7;
    padding: 15px 0 25px;
}

.main_wrap .main_container .m_right_block .m_bot_container .m-bot-text span {
    color: #CF121E;
    font: 14px 'Poppins-Bold';
}

.main_wrap.page-2 .main_container .six_section {
    width: calc(100% - 190px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main_wrap.page-2 .main_container .six_section .sex-sect_block {
    height: 414px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_top {
    height: 207px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_top .the_eur_sum {
    font-family: 'Rubik One', sans-serif;
    font-size: 22px;
    background: linear-gradient(45deg, #322AB2, #A2DE71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    position: relative;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_top .s_1_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot {
    height: 207px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top {
    background: linear-gradient(to bottom, #F24E5D, #A50920);
    padding-left: 8px;
    height: 55px;
    border-bottom: 2px solid #030304;
    position: relative;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top:after {
    content: '';
    position: absolute;
    left: 50px;
    top: -40px;
    border: 20px solid transparent;
    border-bottom: 20px solid #F24E5D;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top .ph_person {
    padding-top: 5px;
    width: 43px;
    height: 48px;
    margin-right: 10px;
    float: left;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top .ph_person img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top .person_text {
    color: #ffffff;
    float: left;
    width: calc(100% - 53px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 55px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top .person_text p {
    font: 12px 'Poppins-Regular';
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top .person_text span {
    font-family: 'Poppins-Bold';
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top .person_text .fon-f-light {
    font: 11px 'Poppins-ExtraLight';
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_bot_container {
    padding: 12px 20px 5px 12px;
    background: linear-gradient(to bottom, #E4E4E4, #818181);
    height: 125px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_bot_container .m_data {
    display: flex;
    align-items: center;
    color: #303030;
    font: 13px 'Poppins-Bold';
    padding-bottom: 5px;
    border-bottom: 2px solid #909090;
    margin-bottom: 10px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_bot_container .m_data span {
    padding-left: 5px;
    color: #CF121E;
    font: 13px 'Poppins-Bold';
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_bot_container .m_data img {
    padding-right: 10px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_bot_container .m-bot-text {
    color: #030304;
    font: 14px 'Poppins-Regular';
    line-height: 22px;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .bot_line {
    height: 27px;
    background: linear-gradient(to bottom, #464041, #391117);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .bot_line a {
    color: #9C9293;
}

.main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .bot_line a img {
    margin: 0px 5px 0 0;
    position: relative;
    top: 3px;
}

.main_wrap.page-2 .main_container .six_section .sect_2 {
    height: 414px;
    display: flex;
    flex-wrap: wrap;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block {
    width: 50%;
    height: 50%;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_long {
    width: 100%;
    height: 50%;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_long img {
    width: 100%;
    height: 100%;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.bl-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl {
    background: linear-gradient(to right, #E4E4E4, #818181);
    text-align: center;
    position: relative;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl:after {
    content: '';
    position: absolute;
    left: -32px;
    top: 20px;
    border: 16px solid transparent;
    border-right: 16px solid #E4E4E4;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .name_person {
    font: 18px 'Poppins-Bold';
    margin: 18px 0 15px;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .red_txt {
    font: 13px 'Poppins-Bold';
    line-height: 16px;
    color: #CF121E;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .min_ago {
    font-family: 'Poppins-ExtraLight';
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .what_txt {
    font: 14px 'Poppins-Bold';
    margin: 15px 0;
    color: #857686;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .rect_img {
    margin: 5px 0;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl {
    display: flex;
    padding: 7px 15px 6px;
    align-items: flex-start;
    text-align: left;
    max-width: 230px;
    margin: auto;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_left {
    width: 36px;
    height: 40px;
    margin: 3px 4px 0 0;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_left img {
    width: 100%;
    height: 100%;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_right {
    width: calc(100% - 40px);
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_right .p_bl_cap {
    font: 13px 'Poppins-Bold';
    line-height: 15px;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_right .p_bl_text {
    font: 11px 'Poppins-Regular';
    line-height: 13px;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl a {
    color: #eaeaea;
    font: 13px 'Poppins-Bold';
    display: block;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl a img {
    margin: 0px 5px 0 0;
    position: relative;
    top: 3px;
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl.txt_bl2 {
    background: linear-gradient(to left, #E4E4E4, #818181);
}

.main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl.txt_bl2:after {
    left: auto;
    right: -32px;
    border: 16px solid transparent;
    border-left: 16px solid #E4E4E4;
}

.right_container {
    margin-bottom: 20px;
}


.coment_container .like_conent {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font: 14px 'Poppins-Regular';
    align-items: center;
}

.coment_container .like_conent .like_left {
    display: flex;
    align-items: center;
}

.coment_container .like_conent .like_left .like {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coment_container .coment_block {
    margin: 20px 0 0;
    display: flex;
}

.coment_container .coment_block .coment_photo_person {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.coment_container .coment_block .coment_photo_person img {
    width: 100%;
    height: 100%;
}

.coment_container .coment_block .coment_right {
    width: calc(100% - 60px);
}

.coment_container .coment_block .coment_right .coment_text {
    background-color: #D8D8D8;
    padding: 14px 20px;
    color: #000000;
    font: 14px 'Poppins-Light';
}

.coment_container .coment_block .coment_right .coment_data {
    display: flex;
    margin: 15px 0 0;
    padding: 0;
    list-style-type: none;
}

.coment_container .coment_block .coment_right .coment_data li {
    padding: 0 25px 0 0;
    position: relative;
    color: #000000;
    font: 14px 'Poppins-Light';
}

.coment_container .coment_data li:before {
    content: "вЂў";
    position: absolute;
    top: 0px;
    right: 10px;
}

.coment_container .coment_block .coment_right .coment_data li:last-child:before {
    display: none;
}

.coment_container .coment_write {
    margin: 40px 0 0;
    border-top: 1px solid #ffffff;
    padding: 30px 0 0;
    display: flex;
}

.coment_container .coment_write .writer_left {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.coment_container .coment_write .writer_left img {
    width: 100%;
    height: 100%;
}

.coment_container .coment_write .writer_right {
    width: calc(100% - 60px);
    height: 50px;
}

.coment_container .coment_write .writer_right input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 0 0 30px;
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    color: #000000;
    border: none;
    font: 14px 'Poppins-Light';
    background-image: url(../img/photoaparat_ic.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: 12px;
}

.coment_container .coment_write .writer_right input:focus {
    border: 1px solid #818181;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.six_section .sex-sect_block {
    padding: 0;
}

.gallary {
    width: calc(84% - 50px);
    margin: 0 25px;
}

.gallary .gallary_top {
    margin: 25px 0 40px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #979797;
}

.gallary .gallary_top .gal_top_left {
    font-size: 28px;
    color: #ffffff;
    font-family: 'Poppins-Regular';
    margin-right: auto;
}

.gallary .gallary_top .Upl_new_ph {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Poppins-Regular';
    cursor: pointer;
    transition: 0.3s;
}

.gallary .gallary_top .Upl_new_ph:hover {
    color: #F24E5D;
}

.modal_upload {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal_upload .close_modal_up {
    color: rgba(213, 213, 213, 0.78);
    font-size: 50px;
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;
    transition: 0.3s;

}

.modal_upload .upload_block {
    animation: scall 0.7s;
    width: 500px;
    height: 470px;
    max-width: calc(100% - 30px);
    border-radius: 7px;
    background: #000000;
    padding: 50px 30px 30px;
}

.modal_upload .close_modal_up:hover {
    color: #ffffff;
}

.modal_upload .label-file-img {
    display: block;
    width: 200px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}

.modal_upload .upload-icon {
    width: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal_upload .image-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 40px;
    background: #ffffff;
    overflow: hidden;
}

.modal_upload .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.modal_upload h1 {
    font-family: sans-serif;
    color: #f16c6c;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 22px;
    text-align: center;
}

.modal_upload .label-file {
    position: relative;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 8px 12px;
    border: 1px solid lightseagreen;
    font-family: sans-serif;
    color: lightseagreen;
    cursor: pointer;
}

.modal_upload .input-file {
    display: none
}

.modal_upload p {
    text-align: center;
    font-family: sans-serif;
    color: #f16c6c;
    max-width: 500px;
    min-height: 18px;
}

.modal_upload .input-submit {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 15px;
}

.modal_upload .input-submit {

}

.modal_upload .under-block {
    position: relative;
    overflow: hidden;
    height: 60px;
}

.modal_upload .input-submit {
    position: relative;
    top: -33px;
    opacity: 1;
    padding: 6px 12px;
    font-size: 1rem;
    color: white;
    background: #f16c6c;
    border: 0;
    cursor: pointer;
    transition: all .4s;
}

.modal_upload .set-input-submit {
    top: 20px;
    transition: all .4s .4s;
}

.modal_upload .horizontal-line {
    width: 0px;
    height: 1px;
    background: #f16c6c;
    margin: 20px auto 0;
    transition: width .4s .4s;
}

.modal_upload .set-horizontal-line {
    width: 140px;
    transition: width .4s;
}

@keyframes scall {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

ul#imageGallery {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    max-width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

ul#imageGallery li {
    display: block;
    padding: 0;
    /*background: ghostwhite;*/
    margin: 0 10px;
    width: calc(25% - 20px);
}

ul#imageGallery li a {
    text-decoration: none;
}

ul#imageGallery li a img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img_Gallerry_text {
    height: 130px;
    margin: 20px 0 5px;
    border-top: 1px solid #ffffff;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
}

.img_Gallerry_text .gallary_tittle {
    font-family: 'Poppins-SemiBold';
    margin: 10px 0 3px;
    font-size: 15px;
}

.img_Gallerry_text .gallary_text {
    font-family: 'Poppins-Regular';
    font-size: 12px;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
}

#overlay .holder {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#overlay .holder img {
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}

#overlay .holder p {
    color: #ffffff;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px;
}

#overlay .holder .nav {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

#overlay .holder .nav a {
    color: white;
    opacity: 0.3;
    -webkit-user-select: none;
    cursor: pointer;
}

#overlay .holder .nav a:hover {
    opacity: 1;
}

#overlay .holder .nav #next, #overlay .holder .nav #prev {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    font-size: 40px;
}

#overlay .holder .nav #next span, #overlay .holder .nav #prev span {
    top: 50%;
    transform: translateY(50%);
    position: relative;
}

#overlay .holder .nav #next {
    right: 0;
    text-align: right;
}

#overlay .holder .nav #prev {
    left: 0;
    text-align: left;
}

#overlay .holder .nav #close {
    right: 10px;
    top: 0;
    font-size: 30px;
    opacity: 0.6;
    z-index: 1000000;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
}

#overlay .holder .nav #close:hover {
    opacity: 1;
}

.left_big_container {
    width: calc(84% - 30px);
    margin-right: 30px;
    position: relative;
}

.calendar_navigation {
    width: 222px;
    height: 30px;
    position: absolute;
    left: 245px;
    top: -47px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar_navigation span {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins-Light';
}

table.calendar {
    width: 100%;
}

table.calendar th {
    width: 14.285%;
}

table.calendar thead th {
    height: 40px;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    padding-left: 15px;
    color: #ffffff;
    border: 2px solid #979797;
    font: 14px 'Poppins-Light';
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

table.calendar tbody th {
    border: 2px solid #979797;
    background-color: #BFBFBF;
    transition: 0.3s;
}

table.calendar tbody th:hover {
    opacity: 0.9;
}

table.calendar tbody th a {
    height: 145px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table.calendar tbody th a .calendar_tittle_block {
    color: #303030;
    font-size: 12px;
    font-family: 'Poppins-SemiBold';
}

table.calendar tbody th a .calendar_data {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 14px;
    color: #303030;
    font-family: 'Poppins-SemiBold';
}

table.calendar tbody th.DayCal a {
    background-color: #BFBFBF;
}

table.calendar tbody th.DayCal-bday a {
    background-color: #E5E5E5;
    background-image: url(../img/Birthday_ic.svg);
    background-repeat: no-repeat;
    padding-top: 32px;
    background-position: center 40px
}

table.calendar tbody th p {
    color: #303030 !important;
    font-size: 10px;
    font-family: 'Poppins-Light';
    text-align: center;
    max-width: 140px;
    line-height: 16px;
}

table.calendar tbody th.DayCal-event a {
    background-color: #CA4253;
    background-image: url(../img/calendar_iccon.svg);
    background-repeat: no-repeat;
    padding-bottom: 15px;
    background-position-x: calc(100% - 8px);
    background-position-y: 8px;
}

table.calendar tbody th.DayCal-event a .caption_calendar {
    margin: 0 0 3px;
}

table.calendar tbody th .calendar_going {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 27px;
    display: flex;
    justify-content: space-between;
}

table.calendar tbody th .calendar_going .going_photo img {
    width: 27px;
    height: 27px;
}

table.calendar tbody th .calendar_going .going_text {
    width: calc(100% - 47px);
    margin: 0 10px 0;
    border-top: 1px solid #ffffff;
    height: 27px;
    display: flex;
    align-items: center;
}

table.calendar tbody th .calendar_going .going_text .going_name {
    color: #ffffff;
    font-size: 9px;
    font-family: 'Poppins-SemiBold';
}

table.calendar tbody th .calendar_going .going_text span {
    font-family: 'Poppins-Light';
}

table.calendar tbody th.DayCal-webcam a {
    background-color: #CA4253;
    background-image: url(../img/webChat_iccon.svg);
    background-repeat: no-repeat;
    padding-bottom: 15px;
    background-position-x: calc(100% - 8px);
    background-position-y: 8px;
}

table.calendar tbody th.DayCal-webcam a .DayCal-webcam_tittle {
    text-transform: uppercase;
}

table.calendar tbody th.DayCal-webchat a {
    background-color: #CA4253;
    background-image: url(../img/chat_icc.svg);
    background-repeat: no-repeat;
    padding-bottom: 15px;
    background-position-x: calc(100% - 8px);
    background-position-y: 8px;
}

table.calendar tbody th.DayCal-webchat a .webchat_tittle {
    text-transform: uppercase;
}

table.calendar tbody th.NextMonthDates a {
    background-color: #858585;
}

.plagin-content {
    width: calc(42% - 30px);
    margin: 0 30px;
    margin-top: 20px;
}

.plagin-content .plagin_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 35px;
    border-bottom: 1px solid #575757;
}

.plagin-content .plagin_left {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.plagin_btn_block.plagin_btn_block_active svg path {
    fill: #D0021B;
}

.plagin-content .communications_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}

.plagin-content .plagin_btn_block {
    cursor: pointer;
    transition: 0.3s;
}

.plagin-content .plagin_btn_block:hover {
    opacity: 0.7;
}

.plagin-content .plagin_container {
    margin: 40px 0 0;
}

.plagin-content .plagin_container .plagin_block {
    display: none;
}

.plagin-content .plagin_container .plagin_block.plagin_block_active {
    display: block;
}

.social-page .user_info_slider {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 430px;
    max-width: 100%;
    padding: 20px 0 15px;
    background-color: rgba(74, 74, 74, 0.66)
}

.social-page .user_info_slider .slider_person_name {
    padding-left: 30px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-family: 'Poppins-ExtraLight';
}

.social-page .user_info_slider .Playtime_Panties {
    padding: 10px 0 12px 30px;
    color: #FFFFFF;
    font-family: 'Poppins-ExtraBold';
    font-size: 18px;
}

.social-page .user_info_slider .Download_cost {
    color: #D0021B;
    padding: 12px 0 0 30px;
    font-family: 'Poppins-ExtraBold';
    font-size: 18px;
    border-top: 1px solid #D0021B;
}

.message_calendar_block {
    display: flex;
    align-items: flex-end;
    margin: 0 0 25px;
}

.message_calendar_block div {
    width: 40px;
}

.message_calendar_block a {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Poppins-ExtraLight';
    line-height: 14px;
}

.message_calendar_block a:hover {
    text-decoration: underline;
}

.m_right_block .profile-tab .tabs {
    margin-bottom: 20px;
    font-size: 0;
}

.m_right_block .profile-tab .tabs .tab {
    color: #303030;
    cursor: pointer;
    padding: 5px 20px;
    margin-bottom: 3px;
    margin-right: 3px;
    font-size: 14px;
    display: inline-block;
    background: linear-gradient(to bottom, #E4E4E4, #818181);
}

.m_right_block .profile-tab .tabs .tab.active {
    color: #fff;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
}

.m_right_block .profile-tab .tabs .tab:hover {
    color: #fff;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
}

.m_right_block .profile-tab .video_load_list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.m_right_block .profile-tab .video_load_list .right_container {
    width: calc(50% - 15px);
}

.m_right_block .profile-tab .business_load_list, .m_right_block .profile-tab .professionals_load_list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_wrap .main_container .m_right_block .profile-tab .m_bg_container {
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.drop_tp-post_box .dot_down-btn {
    margin-right: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    cursor: pointer;
}

.drop_tp-post_box {
    position: relative;
}

.drop_tp-post_box .drop_content_inner_list {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
    top: 100%;
    z-index: 10;
    border: 1px solid #000;
    padding: 10px;
    right: 20px;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
}

.drop_tp-post_box .drop_content_inner_list.active {
    visibility: visible;
    opacity: 1;
}

/*.main_wrap .main_container .m_right_block .m_r_top .m_rr_top .drop_tp-post_box .drop_content_inner_list a{
  color: #303030;
}*/

.profile-tab .video-wraper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
}

.profile-tab .overlay-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 53px);
    background-color: rgb(208, 2, 27, .67);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.profile-tab .overlay-block.active {
    display: flex;
}

.profile-tab .price-box {
    flex-direction: column;
    align-items: center;
    display: none;
}

.main_wrap .main_container .m_right_block .profile-tab .m_bg_container {
    min-height: auto;
    -webkit-background-size: cover;
    background-size: cover;
}

.profile-tab .price-box span {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.profile-tab .price-box span.price {
    font-size: 24px;
    line-height: 28px;
}

.profile-tab .video-information-wrapper {
    display: none;
}

.profile-tab .overlay-block .circle {
    width: 128px;
    height: 128px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profile-tab .video-wraper img.check-mark-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-bottom: 5px;
}

.profile-tab .play-btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 53px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-tab .play-btn-wrapper i {
    width: 48px;
    min-width: 48px;
    height: 48px;
}

.profile-tab .video-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-tab .video-bottom-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 53px;
    background-color: rgba(255, 255, 255, .84);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 15px;
}

.profile-tab .video-bottom-block:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #D0021B;
}

.profile-tab .video-bottom-block .left-box {
    display: flex;
    align-items: center;
}

.profile-tab .video-bottom-block .left-box .v-icon {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 20px;
}

.profile-tab .video-bottom-block .left-box .title {
    font-family: 'Poppins-Bold';
    color: #303030;
    font-size: 16px;
    line-height: 18px;
}

.profile-tab .video-bottom-block .left-box .lite-text {
    font-size: 13px;
    line-height: 15px;
    color: #303030 !important;
    font-weight: bold;
}

.profile-tab .video-bottom-block .video-bottom-text {
    display: flex;
    flex-direction: column;
}

.profile-tab .video-bottom-block .video-btn {
    width: 139px;
    height: 41px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(190.37deg, #F5515F 8.22%, #9F041B 93.68%);
    transition: all .3s ease;
    -webkit-clip-path: polygon(28% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(28% 0, 100% 0%, 100% 100%, 0% 100%);
}

.profile-tab .video-bottom-block .video-btn:hover {
    background: linear-gradient(190.37deg, #e62b3b 8.22%, #670513 93.68%);
    transition: all .3s ease;
}

.videos-box .item.detail-item {
    height: auto;
}

.profile-tab .groups-item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
}

.tab_job_block {
    border: 1px solid #ffffff;
    position: relative;
    margin: 20px 0 0;
}

.tab_job_block:before {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 23px;
    height: 7px;
    background-image: url(../img/group_circle.svg);
}

.tab_job_block .tab_job_block_top {
    display: flex;
    justify-content: space-between;
}

.tab_job_block .tab_job_right {
    height: 125px;
    width: 155px;
    padding: 25px 0 0 30px;
    background-image: url(../img/Polygon_line.svg);
    background-repeat: no-repeat;
}

.tab_job_block .tab_job_right.job_save_block {
    background-image: url(../img/Polygon.png);
    background-size: 100% 100%;
}

.tab_job_block .tab_job_left {
    color: #ffffff;
    padding: 20px 0 0 20px;
}

.tab_job_block .job_tittle {
    font-size: 16px;
    font-family: 'Poppins-Regular';
}

.tab_job_block .job_location {
    font-size: 14px;
    font-family: 'Poppins-Light';
    padding: 5px 0;
}

.tab_job_block .job_data {
    font-size: 14px;
    font-family: 'Poppins-Light';
}

.tab_job_block .job_save {
    font-size: 13px;
    font-family: 'Poppins-Light';
    display: block;
    color: #ffffff;
    margin: 0 0 7px;
}

.tab_job_block .job_notForMe {
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins-Light';
    display: block;
}

.tab_job_block .job_save img {
    margin-right: 7px;
}

.tab_job_block .job_notForMe img {
    margin-right: 7px;
}

.tab_job_block .job_right_text {
    padding: 0 20px 0 0;
}

.tab_job_block .job_right_text.job_right_textDetails {
    padding: 0 20px 0 0;
}

.tab_job_block .job_right_text p {
    color: #D0021B !important;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins-Medium';
}

.tab_job_block .job_right_text a {
    color: #D0021B !important;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins-Medium';
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #D0021B;
    display: block;
    background-color: #303030;
}

.tab_job_block .job_right_text a:hover {
    background-color: #D0021B;
    color: #fff !important;
}

.tab_job_block .tab_job_block_bottom {
    padding: 20px;
}

.tab_job_block .tab_job_block_wrap {
    padding-top: 20px;
    border-top: 1px solid #D0021B;
}

.tab_job_block .tab_job_block_wrap p {
    padding-bottom: 40px;
    font-size: 11px;
    text-align: left;
}

.tab_job_block .tab_job_block_wrap h6 {
    color: #D0021B;
    font-family: 'Poppins-SemiBold';
    font-size: 11px;
}

.tab_job_block .tab_job_block_wrap ul {
    padding: 0 0 15px 20px;
    color: #ffffff;
}

.tab_job_block .tab_job_block_wrap ul li {
    font-size: 11px;
    font-family: 'Poppins-Light';
    color: #ffffff;
}

.tab_job_block .tab_job_block_wrap .job_info {
    font-size: 11px;
    font-family: 'Poppins-Light';
    color: #ffffff;
}

.tab_job_block .tab_job_block_wrap span {
    color: #D0021B;
}

.tab_job_block .tab_job_block_wrap .Apply_for_job {
    margin: 30px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #D8D8D8;
}

.tab_job_block .tab_job_block_wrap .Apply_for_job a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    height: 41px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-Regular';
}

.tab_job_block .tab_job_block_wrap .Apply_for_job a:hover {
    color: #FFFFFF;
    background: linear-gradient(180deg, #e64351 0%, #7d0013 100%);
}

.btn_follow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    height: 41px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-Regular';
    margin: 12px 0 0;
    transition: 0.3s;
}

.btn_follow:hover {
    color: #FFFFFF;
    background: linear-gradient(180deg, #e64351 0%, #7d0013 100%);
}

.profile .sidebar_bisiness .bl_person_inf div {
    color: #FFFFFF;
}

.profile .sidebar_bisiness .m_block_soc {
    font: 15px 'Poppins-Light';
    color: #FFFFFF;
}

.overflow_block {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 206px);
    padding-right: 15px;
}

.overflow_block::-webkit-scrollbar-track, .left-sidebar::-webkit-scrollbar-track{
    background-color: #424242;
}

.overflow_block::-webkit-scrollbar, .left-sidebar::-webkit-scrollbar{
    width: 12px;
    background-color: #3A3A3A;
}

.overflow_block::-webkit-scrollbar-thumb, .left-sidebar::-webkit-scrollbar-thumb{
    background-color: #3A3A3A;
    border-radius: 2px;
}

.m_bot_container.summit_container .sum_top {
    display: flex;
    position: relative;
}

.m_bot_container.summit_container .sum_top .sum_top_data {
    margin-right: 50px;
}

.m_bot_container.summit_container .sum_top .sum_top_data p {
    font: 18px 'Poppins', sans-serif;
    font-weight: 300;
    color: #000000;
}

.m_bot_container.summit_container .sum_top .sum_top_data span {
    color: #D0021B;
    font: 24px 'Poppins', sans-serif;
    font-weight: 300;
}

.m_bot_container.summit_container .sum_top .sum_top_text {
    color: #000000;
}

.m_bot_container.summit_container .sum_top .sum_top_text h6 {
    font: 24px 'Poppins', sans-serif;
    font-weight: 400;
}

.m_bot_container.summit_container .sum_top .sum_top_text p {
    font: 18px 'Poppins', sans-serif;
    font-weight: 300;
}

.m_bot_container.summit_container .sum_top .sum_top_calendar {
    position: absolute;
    right: 0;
    top: 0;
}

.m_bot_container.summit_container .summit_info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 25px;
}

.m_bot_container.summit_container .summit_info_container .summit_btns {
    display: flex;
}

.m_bot_container.summit_container .summit_info_container .summit_btns a {
    width: 135px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #4A4A4A;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #4A4A4A;
}

.m_bot_container.summit_container .summit_info_container .summit_btns a img {
    margin-right: 6px;
    position: relative;
    top: -2px;
}

.m_bot_container.summit_container .summit_info_container .summit_btns .btn_going {
    border-left: none;
}

.m_bot_container.summit_container .summit_info_container .data_time {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #4A4A4A;
}

.m_bot_container.summit_container .summit_info_container .data_time img {
    margin-right: 12px;
    position: relative;
    top: 5px;
}

.m_bot_container.summit_container .summit_info_container .coordinates {
    display: flex;
    line-height: 18px;
    color: #4A4A4A;
    font-family: 'Poppins', sans-serif;
}

.m_bot_container.summit_container .summit_info_container .coordinates h6 {
    font-weight: 500;
    font-size: 14px;
}

.m_bot_container.summit_container .summit_info_container .coordinates p {
    font-weight: 300;
    font-size: 14px;
}

.m_bot_container.summit_container .summit_info_container .coordinates img {
    margin-right: 12px;
    position: relative;
    top: 5px;
}

.m_bot_container.summit_container .summit_info_container .show_map a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 18px;
    font-size: 10px;
    color: #4A4A4A;
}

.m_bot_container.summit_container .summit_tab .summit_tab_btns {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    display: flex;
    list-style-type: none;
    padding: 5px 0;
}

.m_bot_container.summit_container .summit_tab .summit_tab_btns li {
    width: 50%;
    padding: 25px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.m_bot_container.summit_container .summit_tab .summit_tab_btns .sum_li_active {
    border-bottom: 2px solid #D0021B;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block {
    display: none;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .sum_text {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin: 25px 0 30px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .sum_text span {
    color: #D0021B;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container {
    border: 1px solid #4A4A4A;
    margin-bottom: 20px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .going_peope {
    border-bottom: 1px solid #868686;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000000;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block {
    display: flex;
    justify-content: space-between;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.person_info:hover .person_info_hover,
.people_share:hover .person_info_hover {
    display: block;
}

.person_info_hover {
    background: #D8D8D8;
    border: 1px solid #979797;
    padding: 15px;
    position: absolute;
    top: 30px;
    left: -140px;
    display: none;
    z-index: 1;
}

.person_info_hover a {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    color: #000000;
    transition: 0.3s;
}

.person_info_hover a:hover {
    color: #D0021B;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info .girls_photo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    position: relative;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info .girls_photo .photo_girl {
    width: 100%;
    height: 100%;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info .girls_photo .ok_photo {
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info .girls_name {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    max-width: 780px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info .girls_name span {
    font-weight: 400;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .person_block .person_info .girls_name p {
    font-size: 11px;
    color: #D0021B;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .sugguested_friends {
    border-top: 1px solid #4A4A4A;
    border-bottom: 1px solid #4A4A4A;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .sugguested_friends h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    padding: 5px 0 12px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .sugguested_friends .person_block {
    padding: 8px 0;
}

.people_share {
    position: relative;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .people_share.padding_people {
    padding-top: 13px;
    padding-bottom: 13px;
    display: inline-block;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .people_share.padding_people a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #4A4A4A;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .people_share.padding_people img {
    margin-right: 15px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .recent_posts.padding_people {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    border-bottom: 1px solid #4A4A4A;
    padding-top: 12px;
    padding-bottom: 12px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .recent_block {
    border-bottom: 1px solid #4A4A4A;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .recent_block .person_block .person_info {
    cursor: auto;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .see_all_post {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .people_container .padding_people {
    padding: 20px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post {
    border: 1px solid #4A4A4A;
    margin: 0 0 30px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .post_menu {
    padding: 10px 0;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .post_menu a {
    padding: 0px 25px;
    border-right: 1px solid #4A4A4A;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #4A4A4A;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .post_menu a img {
    margin-right: 10px;
    position: relative;
    top: -1px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .white_block {
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .white_block .post_photo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .white_block .post_photo img {
    width: 100%;
    height: 100%;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .write_post .white_block p {
    width: calc(100% - 70px);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block {
    margin: 0 0 35px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_top {
    padding: 5px 25px;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, #9F041B 0%, #F5515F 100%);
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_top .discuss_photo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_top .discuss_photo img {
    width: 100%;
    height: 100%;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_top .discuss_text {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_top .discuss_text h6 {
    font-size: 11px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_top .discuss_text p {
    font-weight: 300;
    font-size: 9px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_cont {
    background: linear-gradient(to bottom, #E4E4E4, #818181);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 18px;
    font-size: 12px;
    color: #000000;
    padding: 35px 25px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_cont span {
    color: #D0021B;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_bott {
    padding: 7px 25px;
    background: linear-gradient(180deg, #484848 0%, #37080F 100%);
    display: flex;
    justify-content: space-between;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_bott a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.49;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block .discuss_block .discuss_bott a img {
    margin-right: 10px;
}

.m_bot_container.summit_container .summit_tab .summit_tab_block.summ_active {
    display: block;
}

.m_bot_container.summit_container .summit_tab .people_btn a {
    border: 1px solid #D0021B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 41px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
    text-shadow: 0 0 5px #000;
}

.m_bot_container.summit_container .summit_tab .people_btn a:hover {
    background-color: #D0021B;
    text-shadow: none;
}

.edit_input {
    background: inherit;
    outline: none;
    margin-left: 5px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid #ffffff;
    width: 225px;
    padding: 5px 5px 5px 12px;
}

.profile_edit .overflow_block {
    padding-left: 10px;
}

.edit_iccon {
    position: relative;
}

.post-title.edit_iccon {
    position: relative;
    padding-left: 35px;
}

h2.edit_iccon {
    padding-left: 35px;
}

h2.edit_iccon span {
    width: 100px;
    display: inline-block;
}

.lady_location.edit_iccon {
    padding-left: 35px;
}

.lady_location.edit_iccon span {
    display: inline-block;
    width: 100px;
}

.edit_iccon:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    left: 0;
    background-image: url(../img/edit_iccon.svg);
    background-size: cover;
}

.post-item .post-title.edit_iccon {
    padding-left: 35px;
}

.post-item.edit_iccon .post-title {
    padding-left: 35px;
}

.profile_edit .profile-content {
    margin: 0 30px 0 10px;
}

.lady_location {
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}

.lady_location .edit_input {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.lady_location.edit_iccon:before {
    top: 4px;
}

.post-item .post-title span {
    font-weight: 300;
    line-height: normal;
    font-size: 11px;
    padding-left: 20px;
    color: #FFFFFF;
}

.blog_edit.edit_iccon:before {
    top: 15px;
}

.textarea_edit {
    background: inherit;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #ffffff;
    width: 100%;
    padding: 10px 5px 5px 12px;
    height: 290px;
    resize: none;
}

.basic_info_edit {
    position: relative;
    z-index: 1001;
}

.video-bottom-block-right-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.video-bottom-block-right-box .views {
    margin-right: 20px;
}

.basic_info_edit .table-grup {
    margin-bottom: 0;
}

.basic_info_edit #ProfileEdit .edit_input {
    margin-left: 12px;
    width: calc(100% - 12px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.basic_info_edit #ProfileEdit {
    width: 100%;
}

.basic_info_edit .edit_input {
    font-weight: 300;
    padding: 2px 2px 2px 5px;
    margin: 2px 0;
    font-size: 14px;
    width: 100%;
}

.avaliable_edit {
    cursor: pointer;
}

.avaliable_checkbox {
    display: none;
}

.avaliable_edit .profile-avaliable-txt {
    text-align: start;
}

.avaliable_label .switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
}

.avaliable_label .switch input {
    display: none;
}

.avaliable_label .checkbox_block {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 26px;
    border: 2px solid #ffffff;
}

.avaliable_label .checkbox_block:before {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    left: 14px;
    bottom: 7px;
    background-color: #D0021B;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.avaliable_label .checkbox_name {
    font-weight: 300;
    line-height: 27px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

.avaliable_label input:checked + .checkbox_block:before {
    left: 6px;
    background-color: #7ED321;
}

.avaliable_label {
    display: flex;
    align-items: center;
    margin: 3px 0;
    cursor: pointer;
}

.add_photo_container {
    height: 800px;
    background: #D8D8D8;
}

.photo_edit_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.photo_edit_block:hover {
    opacity: 0.7;
}

.photo_edit_block .upl_gall_img {
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;
    color: #4A4A4A;
    margin: 20px 0 3px;
}

.photo_edit_block .sell_your_img {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    color: #4A4A4A;
}

.add_to_gallary {
    height: 100%;
    padding: 26px;
    display: none;
}

.add_photo_name {
    line-height: 27px;
    font-size: 18px;
    color: #4A4A4A;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 25px;
}

.add_to_gallary_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add_to_gallary_block {
    width: calc(33.333% - 20px);
    margin: 0 0 20px;
}

.add_input_block {
    height: 170px;
    border: 2px dashed #979797;
    margin: 0 0 10px;
    position: relative;
}

.add_to_gallary_block .upload_input_text {
    background: inherit;
    border: 0.5px solid #979797;
    width: 100%;
    height: 20px;
    padding-left: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 23px;
    font-size: 11px;
    margin: 0 0 7px;
    color: #4A4A4A;
}

.add_to_gallary_block .upload_textarea {
    background: inherit;
    border: 0.5px solid #979797;
    width: 100%;
    height: 65px;
    font-family: 'Poppins', sans-serif;
    padding: 11px 0 0 7px;
    font-weight: 300;
    line-height: 23px;
    font-size: 11px;
    color: #4A4A4A;
    resize: none;
}

.upload_to_gallery_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.upload_to_gallery_btn .btn_follow {
    width: calc(33.333% - 20px);
    font-size: 15px;
    cursor: pointer;
}

.imageUploadForm {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.imageUploadForm .helpText {
    display: block;
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 14px;
    font-size: 12px;
    color: #4A4A4A;
}

.imageUploadForm .helpText:before {
    content: '+';
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin: 60px 0 15px;
}

.imageUploadForm .uploadButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.imageUploadForm.loading .helpText {
    font-size: 0;
    top: 7%;
}

.imageUploadForm.loading .helpText:before {
    font-size: 14px;
    content: 'Uploading...';
}

.imageUploadForm.loading .helpText:after {
    display: none;
}

.imageUploadForm.loading .uploadedImg {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: opacity ease-out;
}

.imageUploadForm.loading .unveil {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #D0021B;
    animation: toTop 4s forwards;
}

.imageUploadForm.loading .unveil:after {
    content: '';
    position: absolute;
    left: -3%;
    bottom: 0;
    height: 10px;
    width: 106%;
    background: #FFD16E;
    border-radius: 5px;
}

.imageUploadForm.loading .pickFile, .imageUploadForm.loading .uploadButton {
    display: none;
}

.imageUploadForm.loading.loaded {
    height: 200px;
}

.imageUploadForm.loading.loaded .uploadedImg {
    opacity: 0;
}

.imageUploadForm.loading.loaded .helpText:before {
    content: 'Upload Complete!';
}

.imageUploadForm.loading.loaded .helpText:after {
    display: block;
    opacity: 0;
    font-size: 0;
    line-height: 100px;
    animation: fadeIn 0.4s forwards;
    content: '';
    color: white;
    margin-top: 2%;
    border-width: 0;
}

.basic_inf_tittle.edit_iccon:before {
    top: 14px;
}

.works_with_tittle {
    cursor: pointer;
}

@keyframes toTop {
    to {
        height: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        font-size: 90px;
    }
}

.works_with_container {
    display: none;
}

.works_with_block {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #979797;
}

.works_with_left {
    display: flex;
    align-items: center;
}

.works_with_photo {
    width: 85px;
    height: 85px;
    margin-right: 30px;
}

.works_with_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.works_with_name {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.works_with_location {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.works_with_btn.btn_follow {
    width: 140px;
    cursor: pointer;
    margin: 0;
}

.worked_save_container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.80);
    display: none;
}

.worked_save_top {
    padding: 10px 25px 0px;
    display: flex;
    justify-content: space-between;
}

.worked_save_info {
    font-family: 'Poppins', sans-serif;
}

.work_save_name {
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
}

.work_save_location {
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    color: #4A4A4A;
}

.work_made_text {
    line-height: 20px;
    font-size: 12px;
    color: #D0021B;
}

.worked_save_input {
    margin-left: 20px;
}

.worked_save_input input {
    width: 56px;
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid #979797;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 24px;
    color: #4A4A4A;
}

.work_save_btn {
    cursor: pointer;
    margin: 7px 0 0;
}

.check-age-wrap {
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
}

.check-age-block {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-age-img img {
    max-height: 100vh;
    max-width: 100%;
}

.check-age-text {
    margin: 0 50px 0 0;
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0px 1px 3px #ffffff;
}

.girls-month {
    max-width: 100%;
    height: 370px;
    object-position: center;
    object-fit: cover;
    margin: 0 0 15px;
}

#PaymentSubmit {
    position: relative;
    top: 16px;
}

.profile-price-container .title-girls-mobile {
    display: none;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 0 5px;
}

#BalanceLogs thead {
    background: #B9B9B9;
}

#BalanceLogs tbody {
    background: #ffffff;
}

#BalanceLogs tfoot {
    background: #B9B9B9;
}

.balance-log table.table-bordered.dataTable tbody td {
    color: #333333 !important;
}

.balance-log div.dataTables_wrapper div.dataTables_info {
    white-space: pre-wrap;
    color: #ffffff;
    width: 200px;
    margin: 30px 0 0;
}

.balance-log div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 30px 0 0;
    justify-content: flex-end;
}

.balance-log #BalanceLogs_paginate .paginate_button a {
    color: #ffffff;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: 0.3s;
}

.balance-log #BalanceLogs_paginate .paginate_button a:hover {
    background: #B9B9B9;
    border: 1px solid #B9B9B9
}

.balance-log #BalanceLogs_paginate .paginate_button.active a {
    background: #fff;
    border: 1px solid #fff;
    color: #333;
}

.balance-log #BalanceLogs_paginate .paginate_button:first-child a,
.balance-log #BalanceLogs_paginate .paginate_button:last-child a {
    width: auto;
    border-radius: 10px;
    padding: 0 15px;
}

#BalanceLogs_wrapper .row {
    width: 100%;
}

@media (max-width: 1469px) {
    .wrapper {
        width: 1170px;
    }

    .main_wrap.page-2 .main_container .six_section .sex-sect_block {
        height: 440px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_1 .s_1_bot .m_rl_top {
        height: 80px;
        align-items: center;
        display: flex;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 {
        height: 440px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl {
        padding: 7px 0px 6px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_right .p_bl_cap {
        font: 12px 'Poppins-Bold';
    }
}

@media (max-width: 1199px) {
    .wrapper {
        width: 970px;
    }

    .main_wrap .main_container .m_right_block .m_r_top {
        height: auto;
        padding: 0 0px 0 15px;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .wrapper {
        width: 750px;
    }

    .main_wrap .main_container .m_right_block .m_r_top {
        padding: 0;
        flex-direction: column;
    }

    .m_right_block .m_bg_container h2 {
        top: 50px;
        font-size: 54px;
    }

    ul#imageGallery li {
        width: 33.33333%
    }

    .check-age-text {
        margin: 0;
    }

    .profile-header-menu {
        overflow-x: scroll;
    }

    .profile-price-container .profile-content {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 100%;
    }

    ul#imageGallery li {
        width: 50%
    }

    .main_wrap .main_container {
        display: block;
    }

    .main_wrap.page-2 .main_container .six_section {
        width: 100%;
    }

    .main_wrap.page-2 .main_container .six_section .sex-sect_block {
        margin-top: 20px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_right {
        width: 100%;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .per_bl .p_bl_left {
        margin: 3px auto;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block.txt_bl .name_person {
        margin: 11px 0 5px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_long {
        height: 130px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 .sect_2_block {
        height: 230px;
    }

    .main_wrap.page-2 .main_container .six_section .sect_2 {
        height: auto;
    }

    .main_wrap .main_container .m_left_block .l_close {
        display: block;
    }

    .main_wrap .main_container .m_right_block {
        width: 100%;
    }

    .m_right_block .m_bg_container h2 {
        top: 44px;
        font-size: 45px;
    }

    .main_wrap .main_container .m_left_block {
        display: none;
    }

    .main_wrap .main_container .m_right_block .m_bot_container {
        padding: 20px 5px 30px 10px;
    }

    .main_wrap .main_container .m_right_block .m_bot_container .m_data {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .main_wrap .main_container .m_right_block .m_bot_container .m_data img {
        padding-right: 0;
    }

    .main_wrap .main_container .m_right_block .m_r_top .m_rr_top {
        height: auto;
    }

    .main_wrap .main_container .m_right_block .m_r_top .m_rr_top a {
        margin: 5px;
    }

    .main_wrap .main_container .m_right_block .m_r_top .m_rl_top .ph_person {
        margin: 0 10px;
    }

    .main_wrap .main_container .m_left_block {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 99999;
        background: rgba(0, 0, 0, 0.9);
        padding: 40px 24% 0;
    }

    .main_wrap .main_container .m_left_block .m_l_top {
        margin: 0 0 15px;
    }

    .main_wrap .main_container .m_left_block .m_container_inf .b_block_inf {
        margin-bottom: 7px;
    }

    .main_wrap .main_container .m_left_block .m_container_inf {
        padding: 10px 0 3px;
    }

    .main_wrap .main_container .m_left_block .m_container_soc {
        padding: 10px 0 0;
    }

    .main_wrap .main_container .m_left_block .m_container_soc .m_soc_ic {
        margin: 10px 0 0;
    }

    .m_left_block .logout-link {
        position: relative;
        padding: 10px 10px 10px 80px;
        line-height: normal;
        top: 25px;
    }

    .coment_container .coment_write .writer_right input {
        background-position-x: calc(93%);
    }

    .gallary {
        width: 100%;
        margin: 0;
    }

    .gallary .gallary_top {
        flex-direction: column;
        text-align: center;
    }

    .check-age-block {
        padding: 10px 0;
        flex-direction: column;
        justify-content: center;
    }

    .check-age-text {
        padding: 15px 15px;
    }

    .check-age-img img {
        max-height: 300px;
    }

    .profile-price-container #PriceTab tr {
        display: flex;
        flex-direction: column;
    }

    .profile-price-container #PriceTab tr td {
        width: 100%;
        margin: 0 0 10px;
    }

    .girls-month {
        width: 100%;
        height: auto;
    }

    .profile-price-container #PriceTab thead {
        display: none;
    }

    .profile-price-container .title-girls-mobile {
        display: block;
    }

}

@media (max-width: 480px) {
    ul#imageGallery li {
        width: 100%
    }

    .profile-tab .groups-item {
        width: 100%;
    }
}

.hidden-post-block {
    transition: 0.3s;
    opacity: 0;
    cursor: default !important;
}

.menu-sidebar-active {
    background: #565656a6;
    padding: 5px;
    margin-left: -5px;
    margin-top: -5px;
    margin-bottom: 5px !important;
}
.terms_condition {
    padding: 20px 60px 35px 80px;
    background: linear-gradient(to bottom, #E4E4E4, #818181);
}