.profile-header-menu {
    width: 100%;
    height: 52px;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    display: flex;
    align-items: center;

    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

ul.active-page li {
    opacity: 0.75;
}

ul.active-page li.active {
    opacity: 1;
}

.profile-header-menu .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.profile-header-menu .back-link {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Poppins-Bold';
    font-size: 16px;
    letter-spacing: 0.5px;
}

.profile-header-menu .back-link:before {
    content: "";
    background-image: url(../img/back-icon.svg), linear-gradient(to right bottom, #d33748, #ab2a39, #851f2b, #60131d, #3e090f);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    border: 1px solid #A21F2F;
    border-radius: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    width: 35px;
    justify-content: center;
    left: 0;
    cursor: pointer;
    margin-right: 15px;
}

.profile-header-menu .right-block {
    display: flex;
}

.profile-header-menu .profile-header-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.profile-header-menu .profile-header-nav li {
    margin-left: 30px;
}

.profile-header-menu .profile-header-nav li a {
    font-family: 'Poppins-Light';
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.profile-header-menu .profile-header-nav li.active a {
    font-family: 'Poppins-Regular';
}

.profile-header-menu .rofile-header-btns {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    height: 64px;
    display: flex;
    align-items: center;
}

.rofile-header-btns li {
    margin-left: 30px;
}

.rofile-header-btns li:first-child {
    margin-left: 0;
}

.rofile-header-btns .vertical-line {
    height: 100%;
    width: 1px;
    background-color: #74000E;
}

.rofile-header-btns .user, .rofile-header-btns .dialog-messages-link {
    position: relative;
    margin-right: 15px;
}

.rofile-header-btns .star {
    position: absolute;
    top: -12px;
    left: 22px;
    width: 28px;
    height: 26px;
    background-image: url(../img/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: auto;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.rofile-header-btns .post .v-icon {
    width: 30px;
    height: 30px;
}

.v-icon {
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
}

.v-icon.user {
    background-image: url(../img/user-icon.svg);
}

.v-icon.message {
    background-image: url(../img/message-icon.svg);
}

.v-icon.jobs {
    background-image: url(../img/alert-icon.svg);
}

.v-icon.post {
    background-image: url(../img/post-icon.svg);
}

.v-icon.calendar {
    background-image: url(../img/calendar-check-icon.svg);
}

.v-icon.video {
    background-image: url(../img/video-icon.svg);
}

.v-icon.like {
    background-image: url(../img/v-like-icon.svg);
}

.v-icon.comment {
    background-image: url(../img/v-comment-icon.svg);
}

.v-icon.share {
    background-image: url(../img/v-share-icon.svg);
}

.v-icon.play {
    background-image: url(../img/v-play-icon.svg);
}

.v-icon.play-red {
    background-image: url(../img/v-play-red-icon.svg);
}

.tab-wrapper.profile-tab .tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #979797;
}

.tab-wrapper.profile-tab .tabs .tab {
    width: 115px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Light';
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
    margin-bottom: -1px;
    cursor: pointer;
}

.tab-wrapper.profile-tab .tabs .tab:first-child {
    border-left: 1px solid #979797;
}

.tab-wrapper.profile-tab .tabs .tab.active {
    color: #D0021B;
    border-bottom: 1px solid #303030;
}

.tab-wrapper.profile-tab .tab_content {
    padding-top: 20px;
}

.tab-wrapper.profile-tab .tab_content .tab_item:first-child {
    display: block;
}

.tab-wrapper.profile-tab .tab_content .tab_item {
    display: none;
}

.profile p.profile-avaliable-txt span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins-Light';
    padding: 0;
    font-weight: normal;
    width: calc(33.3333% - 10px);
}

.profile p.profile-avaliable-txt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.profile table td:first-child {
    font-weight: normal;
    padding-right: 0;
}

.profile table td:nth-child(2) {
    font-family: 'Poppins-Light';
}

.profile p {
    font-family: 'Poppins-Light';
}

.profile-content {
    width: calc(50% - 30px);
    margin: 0 30px;
    margin-top: 20px;
}

.post-item {
    width: 100%;
    margin-bottom: 30px;
}

.post-item .post-title {
    color: #D0021B;
    font-size: 18px;
    padding: 15px 0;
    display: block;
}

.table-grup {
    padding-left: 10px;
    margin-bottom: 65px;
}

.work-with-box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.work-with-box .item {
    width: 88px;
    height: 88px;
    margin-right: 25px;
    margin-bottom: 35px;
    cursor: pointer;
    position: relative;
}

.work-with-box .item .work-company-info {
    opacity: 0;
    width: 185px;
    height: 95px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 60px;
    left: 45px;
    background-color: rgba(216, 216, 216, .86);
    border: 1px solid #979797;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: -1;
    padding-top: 15px;
    padding-left: 15px;
    transition: opacity .3s ease;
}

.work-with-box .item.active .work-company-info {
    opacity: 1;
    z-index: 2;
    transition: all .3s ease;
}

.work-with-box .item .work-company-info li {
    font-family: 'Poppins-Light';
    font-size: 12px;
    color: #4A4A4A;
}

.work-with-box .item .work-company-info li span {
    color: #D0021B;
}

.work-with-box .item .work-company-info li:first-child {
    font-size: 14px;
    font-family: 'Poppins-Regular';
}

.search-line {
    width: 100%;
    position: relative;
    height: 32px;
    margin-bottom: 10px;
}

.search-line input[type="text"] {
    width: 100%;
    height: 32px;
    background: #000000;
    border: 0;
    border-radius: 0;
    font-family: 'Poppins-Regular';
    color: #fff;
    font-size: 14px;
    padding-left: 45px;
}

.search-line input[type="text"]:focus {
    outline: none;
}

.search-line input[type="submit"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 45px;
    border: none;
    background-color: transparent;
    background-image: url(../img/search-white-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 45%;
    background-size: 45%;
}

.news-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news-box .item {
    margin-bottom: 0;
    position: relative;
    min-height: 185px;
}

.news-box .item .live-block {
    position: absolute;
    width: 100%;
    height: 185px;
    object-fit: cover;
}

.news-box .item .live-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-box .item .live-bottom-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .65);
    font-size: 12px;
    color: #303030;
    padding: 0 20px;
}

.news-box .item .live-bottom-block .v-icon {
    margin-right: 20px;
    width: 20px;
    min-width: 20px;
    height: 20px;
}

.c-red {
    color: #D0021B;
    display: contents;
}

.news-box .item .top-block {
    width: 100%;
    height: 175px;
    position: relative;
}

.news-box .item .top-block .hover-block {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.news-box .item .top-block:hover .hover-block {
    z-index: 1;
    opacity: 1;
    transition: all .3s ease;
}

.news-box .item .top-block .hover-block a {
    transition: all .3s ease;
}

.news-box .item .top-block .hover-block a:hover {
    transition: all .3s ease;
    text-decoration: underline;
}

.news-box .item .top-block .hover-block .hover-links-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-box .item .top-block .hover-block .hover-links-block a {
    color: #fff;
    opacity: .49;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.news-box .item .top-block .hover-block .hover-links-block a:hover {
    opacity: 1;
    transition: all .3s ease;
}

.news-box .item .top-block .hover-block .hover-links-block a .v-icon {
    margin-right: 5px;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.news-box .item .top-block .hover-block .event-detail-link {
    color: #fff;
    margin-top: 65px;
    margin-bottom: 25px;
}

.news-box .item .top-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-box .item:nth-child(3n+1) {
    width: calc(60% - 3.5px);
}

.news-box .item:nth-child(3n+2) {
    width: calc(40% - 3.5px);
}

.news-box .item:nth-child(3n+3) {
    width: 100%;
}

.news-box.detail-list .item:nth-child(3n+1),
.news-box.detail-list .item:nth-child(3n+2),
.news-box.detail-list .item:nth-child(3n+3) {
    width: 100%;
}

.news-box .item .bottom-block {
    height: 55px;
    width: 100%;
    background: linear-gradient(to bottom, #F24E5D, #A50920);
    font-family: 'Poppins-Regular';
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px;
}

.news-box .item .bottom-block .v-icon {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
}

.news-box .item .bottom-block:after {
    content: '';
    position: absolute;
    left: 50px;
    top: -40px;
    border: 20px solid transparent;
    border-bottom: 20px solid #F24E5D;
    z-index: 2;
}

.news-box.detail-list .item {
    border-bottom: 3px solid #000;
}

.news-box.detail-list .item .top-block {
    height: auto;
}

.news-box.detail-list .item.event-item .top-block {
    height: 230px;
    background-image: url(../img/image-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-box.detail-list .detail-bottom-head {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    padding: 0 15px 0 35px;
    position: relative;
}

.news-box.detail-list .detail-bottom-head::before{
    content: '';
    position: absolute;
    z-index: 10;
    top: -15px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 15px 12.5px;
    border-color: transparent transparent #ee4a57 transparent;

}

.event-icon .detail-bottom-head::after, .news-icon .detail-bottom-head::after, .chat-icon .detail-bottom-head::after{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:24px;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.event-icon .detail-bottom-head::after{
    content: '\f073';
}

.news-icon .detail-bottom-head::after{
    content: '\f1ea';
}

.chat-icon .detail-bottom-head::after{
    content: '\f086';
}

.news-box.detail-list .detail-bottom-head .photo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    display: none;
    border: 1px solid #030304;
}

.news-box.detail-list .detail-bottom-head .person-text {
    margin-left: 15px;
}

.news-box.detail-list .detail-bottom-head .person-text p {
    font-size: 12px;
    line-height: 18px;
}

.news-box.detail-list .detail-bottom-head .person-text p.fon-f-light {
    font-size: 10px;
    font-family: 'Poppins-Light';
}

.news-box.detail-list .detail-bottom-body {
    padding: 15px 25px 15px 25px;
    background: linear-gradient(to bottom, #E4E4E4, #818181);
    display: none;
}

.news-box.detail-list .detail-bottom-body .title {
    font-size: 14px;
}

.news-box.detail-list .detail-bottom-body .text {
    color: #030304;
    font: 12px 'Poppins-Regular';
    line-height: 22px;
    border-top: 2px solid #a7a7a7;
    padding: 15px 0 10px;
}

.news-box.detail-list .detail-bottom-footer {
    height: 31px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #484848 0%, #37080F 100%);
    display: none;
}

.news-box.detail-list .detail-bottom-footer a {
    font-size: 12px;
    opacity: .49;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Poppins-Regular';
    transition: all .3s ease;
}

.news-box.detail-list .detail-bottom-footer a:hover {
    opacity: 1;
    transition: all .3s ease;
}

.news-box.detail-list .detail-bottom-footer a i {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 10px;
}

.videos-box {
    display: flex;
    flex-flow: row wrap;
}

.videos-box .item {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

.videos-box.coll-two {
    justify-content: space-between;
}

.videos-box.coll-two .item {
    /*width: calc(50% - 10px);*/
    width: 100%;
}

.videos-box.coll-two .item:first-child {
    width: 100%;
}

.videos-box .item .video-wraper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
}

.videos-box .item .overlay-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 53px);
    background-color: rgb(208, 2, 27, .67);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.videos-box .item .overlay-block.active {
    display: flex;
}

.videos-box .item .overlay-block .price-box {
    flex-direction: column;
    align-items: center;
    display: none;
}

.videos-box .item:hover .overlay-block .price-box {
    display: flex;
}

.videos-box .item.paid:hover .overlay-block .price-box {
    display: none;
}

.videos-box .item.paid:hover .overlay-block {
    display: none;
}

.videos-box .item.paid:hover .play-btn-wrapper {
    display: none;
}

.videos-box .item .overlay-block .price-box span {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.videos-box .item .overlay-block .price-box span.price {
    font-size: 24px;
    line-height: 28px;
}

.videos-box .item .video-information-wrapper {
    display: none;
}

.videos-box .item .overlay-block .circle {
    width: 128px;
    height: 128px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.videos-box .item .video-wraper img.check-mark-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-bottom: 5px;
}

.videos-box .item.paid:hover .overlay-block .circle {
    display: flex;
}

.videos-box .item:hover .overlay-block {
    display: flex;
}

.videos-box .item .play-btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 53px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.videos-box .item .play-btn-wrapper i {
    width: 48px;
    min-width: 48px;
    height: 48px;
}

.videos-box .item .video-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videos-box .item .video-bottom-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 53px;
    background-color: rgba(255, 255, 255, .84);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 15px;
}

.videos-box .item .video-bottom-block:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #D0021B;
}

.videos-box .item .video-bottom-block .left-box {
    display: flex;
    align-items: center;
}

.videos-box .item .video-bottom-block .left-box .v-icon {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 20px;
}

.videos-box .item .video-bottom-block .left-box .title {
    font-family: 'Poppins-Bold';
    color: #303030;
    font-size: 16px;
    line-height: 18px;
}

.videos-box .item .video-bottom-block .left-box .lite-text {
    font-size: 13px;
    line-height: 15px;
    color: #303030 !important;
    font-weight: bold;
}

.videos-box .item .video-bottom-block .video-bottom-text {
    display: flex;
    flex-direction: column;
}

.videos-box .item .video-bottom-block .video-btn {
    width: 139px;
    height: 41px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(190.37deg, #F5515F 8.22%, #9F041B 93.68%);
    transition: all .3s ease;

    -webkit-clip-path: polygon(28% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(28% 0, 100% 0%, 100% 100%, 0% 100%);
}

.videos-box .item .video-bottom-block .video-btn:hover {
    background: linear-gradient(190.37deg, #e62b3b 8.22%, #670513 93.68%);
    transition: all .3s ease;
}

/*.videos-box.coll-two .item .video-bottom-block .video-btn{
	position: absolute;
    right: 0;
    top: -50px;
} */

.videos-box.coll-two .item:first-child .video-bottom-block .video-btn {
    position: relative;
    right: initial;
    top: initial;
}

.videos-box .item.detail-item {
    height: auto;
}

/*.videos-box .item.detail-item .video-bottom-block{
	top: 0;
	bottom: initial;
}*/

/*.videos-box .item.detail-item .video-bottom-block:before{
	top: initial;
	bottom: 2px;
}*/

.videos-box .item .video-bottom-footer,
.photos-box .item .photo-bottom-footer {
    width: 100%;
    padding: 0 10px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #484848 0%, #37080F 100%);
    margin-top: 5px;
}

.videos-box .item:first-child .video-bottom-footer {
    padding: 0 30px;
}

.videos-box .item .video-bottom-footer a,
.photos-box .item .photo-bottom-footer a {
    font-size: 12px;
    opacity: .49;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Poppins-Regular';
    transition: all .3s ease;
}

.videos-box .item .video-bottom-footer a:hover,
.photos-box .item .photo-bottom-footer a:hover {
    opacity: 1;
    transition: all .3s ease;
}

.videos-box .item .video-bottom-footer a i,
.photos-box .item .photo-bottom-footer a i {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 5px;
}

.videos-box .item:first-child .video-bottom-footer a i {
    margin-right: 5px;
}

.video-item-information {
    margin-top: 15px;
}

.video-item-information .views {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    letter-spacing: 1.33333px;
}

.video-item-information .video-item-information-box {
    border-top: 1px solid #D0021B;
    border-bottom: 1px solid #D0021B;
    margin: 15px 0 5px;
    padding: 15px 0;
}

.video-item-information .video-item-information-box p {
    font-size: 12px;
    font-family: 'Poppins-Light';
    color: #fff;
    margin-bottom: 3px;
}

.video-item-information .video-item-information-box p a {
    font-family: 'Poppins-Regular';
    color: #D0021B;
}

.video-item-information .video-item-information-box p a:hover {
    text-decoration: underline;
}

.photos-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.photos-box .item {
    width: calc(50% - 10px);
    height: auto;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.photos-box .item.detail-item {
    width: 100%;
}

.photos-box .item .photo-wraper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
}

.photos-box .item .photo-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photos-box .item .photo-bottom-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .65);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 15px;
}

.photos-box .item .photo-bottom-block .title {
    font-family: 'Poppins-Bold';
    color: #303030;
    font-size: 16px;
    line-height: 18px;
}

/*.photos-box .item .photo-bottom-footer a i {margin-right: 5px;}
.photos-box .item .photo-bottom-footer {
    padding: 0 10px;
}*/

.photos-box .item .photo-information-wrapper {
    display: none;
}

.works-box {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.works-box .item {
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.works-box .item .persone-photo {
    height: 100%;
    width: 124px;
    object-fit: cover;
}

.works-box .item .persone-info {
    height: 100%;
    width: calc(100% - 135px);
    display: flex;
    justify-content: space-between;
    background-color: #9C9C9C;
    padding: 20px 10px 15px 20px;
}

.works-box .item .persone-info .title {
    display: block;
    font-size: 20px;
    line-height: 22px;
    color: #4A4A4A;
}

.works-box .item .persone-info .sub-title,
.works-box .item .persone-info .period {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #D0021B;
}

.works-box .item .persone-info .period {
    margin-top: 25px;
}

.works-box .item .persone-info-btns {
    display: flex;
    flex-direction: column;
}

.works-box .item .persone-info-btns .persone-btn {
    width: 78px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    font-size: 13px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.works-box .item .persone-info-btns .persone-btn:hover {
    background: linear-gradient(180deg, #ca2c39 0%, #9F041B 100%);
}

.busines-worked-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.busines-worked-box .item {
    width: calc(33.33% - 15px);
    margin-bottom: 25px;
}

.busines-worked-box .item .photo-wrapper {
    min-width: 100%;
    height: auto;
    position: relative;
}

.busines-worked-box .item .photo-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background: linear-gradient(0deg, #9F041B 0%, rgba(245, 81, 95, 0.0001) 87.12%);
}

.busines-worked-box .item .photo-wrapper:hover:after {
    height: 100%;
}

.busines-worked-box .item .photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.busines-worked-box .item .photo-wrapper .name {
    display: block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.busines-worked-box .item .photo-wrapper .hover-block {
    display: none;
}

.busines-worked-box .item .photo-wrapper:hover .hover-block {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busines-worked-box .item .hover-block a {
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.busines-worked-box .item .hover-block a:hover {
    text-decoration: underline;
}

.busines-worked-box .item .button {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    margin-top: 8px;
    cursor: pointer;
}

.busines-worked-box .item .button.following {
    color: rgba(255, 255, 255, .45);
}

.busines-worked-box .item .button.following:hover {
    background: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);
    cursor: initial;
}

.busines-worked-box .item .button:hover {
    background: linear-gradient(180deg, #ca2c39 0%, #9F041B 100%);
}

body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
    color: #303030;
    font-family: 'Poppins-SemiBold';
}

body .fc th {
    height: 40px;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    color: #ffffff;
    border: 2px solid #979797;
    font: 14px 'Poppins-Light';
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

body .fc td {
    border: 2px solid #979797;
    background-color: #BFBFBF;
    transition: 0.3s;
}

.fc td:hover {
    opacity: 0.9;
}

body .fc td.fc-other-month {
    background-color: #858585;
}

.fc-toolbar button {
    position: relative;
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.fc-toolbar h2 {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins-Light';
}

body .fc-event,
body .fc-day-grid-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: none;
    background: linear-gradient(to bottom, #EF4B5A, #A40920);
    padding: 5px 15px 5px 28px;
}

body .fc-unthemed td.fc-today {
    background-color: #e5e5e5;
}

.calendar-header-btns{
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.calendar-header-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.calendar-header-btns #selected-month{
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}

.calendar-header-btns .li-btn{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.calendar-header-btns .fc-state-default{
    background: none;
    background-color: transparent;
    border: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}

.upcoming-events{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}

.upcoming-events .item{
    width: calc(16.97% - 20px);
    margin-right: 20px;
    padding-bottom: 26px;
    position: relative;
}

.upcoming-events .item:nth-child(6n+6){
    margin-right: 0;
}

.upcoming-events .item .day{
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.upcoming-events .item-box{
    background-color: #fff;
    height: 100%;
}

.upcoming-events .item-box h4{
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

.upcoming-events .item-box p{
    font-size: 11px;
    text-align: center;
    padding: 0 10px;
    line-height: 15px;
    color: #212529!important;
    margin-bottom: 10px;
}

.upcoming-events .item-box .event-row{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    border-top: 1px solid #fff;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.upcoming-events .item-box .event-row img{
    width: 25px;
}

.upcoming-events .item-box .event-row p{
    color: #fff!important;
    margin-bottom: 0;
}

.upcoming-events .item-box .top-row{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.upcoming-events .item-box .fa{
    text-align: center;
    display: block;
}

.upcoming-events .item-box.red{
    background-color: #E0586A;
}

.upcoming-events .item-box.grey{
    background-color: #858585;
}

.fc-body .event::before, .fc-body .webcam::before, .fc-body .webchat::before, .fc-body .bday::before{
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.fc-body .event::before{
    content: "\f274";
}

.fc-body .webcam::before{
    content: "\f03d";
}

.fc-body .webchat::before{
    content: "\f086";
}

.fc-body .bday::before{
    content: "\f1fd";
}

@media (max-width: 1199px) {
    .upcoming-events .item{
        width: calc(25.55% - 20px);
        margin-bottom: 20px;
    }
    .upcoming-events .item:nth-child(6n+6){
        margin-right: 20px;
    }
    .upcoming-events .item:nth-child(4n+4){
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .profile-content {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .upcoming-events .item{
        width: calc(34.2% - 20px);
    }
    .upcoming-events .item:nth-child(6n+6){
        margin-right: 20px;
    }
    .upcoming-events .item:nth-child(4n+4){
        margin-right: 20px;
    }
    .upcoming-events .item:nth-child(3n+3){
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .upcoming-events .item{
        width: calc(50% - 10px);
    }
    .upcoming-events .item:nth-child(6n+6){
        margin-right: 20px;
    }
    .upcoming-events .item:nth-child(4n+4){
        margin-right: 20px;
    }
    .upcoming-events .item:nth-child(3n+3){
        margin-right: 20px;
    }
    .upcoming-events .item:nth-child(2n+2){
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .profile p.profile-avaliable-txt span {
        width: calc(50% - 10px);
    }

    .tab-wrapper.profile-tab .tabs .tab {
        font-size: 12px;
    }
}