.card-body img {
  display: block;
  width: 100%;
}

.card header span {
  line-height: 1.5;
}

.table .checkbox-styled {
  display: block;
}

.table input.form-control {
  max-width: 100px;
}

.img-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.img-wrapper img {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
} 

.cell-content {
  max-width: 300px;
}
.colorpicker-saturation {
  background-image: url(../img/saturation.png);
}

.colorpicker-hue {
  background-image: url(../img/hue.png);
  }

  .colorpicker-alpha {
      background-image: url(../img/alpha.png);
  }
  .colorpicker-color {
    background-image: url(../img/alpha.png);
}