/*Connect*/
.connect table tbody tr td img{
    width: 80px;
    padding-right: 20px;
}
.connect .connect-name{
    text-transform: uppercase;
}

.connect .col-lg-1 button{
    margin-top: 16px;
    margin-bottom: 16px;
}

.connect-button {
    display: block;
    margin: 0 auto !important;
}

.status-active {
    color: #0aa89e;
    border: none !important;
}

.status-active span{
    font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
}

/*credits*/

.credits .checkbox-styled:not(ie8) input ~ span:before, .radio-styled:not(ie8) input ~ span:before {
    border-color: #fff;
}
.credits .checkbox-styled:not(ie8) input:checked ~ span:before {
    border-color: #fff;
}

.credits .checkbox {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    max-height: 100%;
}
.credits .card-head header {
    padding: 0;
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 10px;
}

.credits-row {
        border-bottom: 1px solid rgba(12, 12, 12, 0.12);
        margin-bottom: 15px;
}

.credits .person .person-col-lg-3 .checkbox label p span{
    font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.credits .card-body p{
    text-align: center;
    font-size: 22px;
}

.credits .active-credits{
    background-color: #0a3ca8;
    border-color: #0a3ca8;
}


/*teacher-yonger-page*/

.teacher-yonger-page .parent-card-body{
    border-bottom: 1px solid #e5e6e6;
}
.teacher-yonger-page .card-body .button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}
.teacher-yonger-page .card-body .button-group button {
    height: 38px;
    margin-right: 10px;
    display: flex !important;
    align-items: center !important;
}

.teacher-yonger-page .page-yonger-bpdy img{
    width: 100%;
}
.teacher-yonger-page .btn-group{
    width: 100%;
}
.teacher-yonger-page .btn-group button{
    width: 100%;
    margin-bottom: 5px;
}
.teacher-yonger-page .btn-group ul{
    width: 100%;
}

.teacher-yonger-page .menubar-scroll-panel{
    list-style-type: none;
    padding: 5px;
}

.teacher-yonger-page .nano > .nano-pane {
    width: 4px !important;
}

.teacher-yonger-page .has-scrollbar {
    max-height: 250px;
}
.teacher-yonger-page .menubar-scroll-panel {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}



.modal_header {
    width: 100%;
    height: 60px;
    background: #0aa89e;
}

.modal_header  .settings {
    display: flex;
    font-size: 20px;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    color: #fff;
}

#modal_form {
	width: auto; 
	height: auto; 
	border-radius: 5px;
	background: #fff;
	position: fixed; 
	top: 0%; 
	left: 50%; 
	margin-left: -200px;
    margin-right: 25px;
	display: none; 
	opacity: 0; 
	z-index: 10000; 
}

#modal_form.modal_wide {
    margin-left: 0;
    margin-right: 0;
    width: 800px;
    max-width: 100%;
    transform: translateX(-50%);
}

#modal_form.modal_wide .row {
    margin: 0;
}

#modal_form.modal_wide .col-lg-6 {
    padding: 0;
}

#modal_form.modal_wide #marker-map {
    width: 100%!important;
    height: 200px!important;

}

section#chat_area {
    margin-top: 25px;
}

#modal_form .card{
    margin-bottom: 0px;
}
#modal_form .card-body{
    padding: 0px;
}
#modal_form .form{
	padding: 10px 40px 20px;
}
#modal_form .form-inverse {
    padding: 10px 40px 0px;
}
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
    font-size: 20px;
    color: #fff;
}

#overlay {
	z-index:3;
	position:fixed;
	background-color:#000;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}

.modal_form .btn-success{
    width: 100%;
    display: block;
    margin: 0 auto;
}


#second3 .btn-group a{
    display: flex !important;
    justify-content: center;
}
#second3 .card-head{
    display: flex !important;
    align-items: center;
}
#second3 .card-head header{
    display: flex;
    align-items: center;
    width: 50%;

}
#second3 .tools{
    width: 50%;
}
#second3 .tools .btn-group{
    display: flex !important;
    justify-content: flex-end;
}

#second4 .col-md-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5%;
}

#second5 ul li{
    list-style-type: none;
}

#second5 ul li:first-child{
    color: forestgreen;
}


#second6 p{
    font-size: 25px;
    text-align: center;
}
#second6 p span{
    font-size: 40px;
    text-align: center;
    color: #E87E04;
    border: 1px solid #dddddd;
    padding: 10px;
}
#second7 .img-wrapper img{
    width: 70px;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.teacher-yonger-page .modal_form .row .list-group .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teacher-yonger-page .modal_form .row .list-group .material-switch label{
    margin-bottom: 0px;
}
.colorpicker {
     z-index: 10000
}

.colorpicker-hue {
    z-index: 10000;
}

.cell-content {
    max-width: 300px;
  } 




