.dashboard-card strong.pull-right{
	margin-top: 6px;
	font-size: 20px;
}

.dashboard-card strong.pull-right > i{
	font-size: 18px;
	margin-bottom: 1px;
}

.dashboard-card .period{
	width: 100%;
	text-align: right;
}

.form .form-group.call-select{
	width: 300px;
}

.form.call-form{
	padding: 0 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.form.call-form > .form-group{
	margin-bottom: 20px;
	padding-top: 27px;
	margin-right: 50px;
}

.form.call-form > .form-group:last-child{
	margin-right: 0;
}

.call-center-body .personal-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.call-center-body .personal-info .information-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-left: 25px;
}

.call-center-body .personal-info .information-block .parent{
	font-size: 18px;
	font-weight: 500;
}

.call-center-body .form-group.text .form-control ~ label {
    top: -15px;
} 

.call-center-body .coll-personal{
	width: 35%;
	vertical-align: top;
}   

.call-center-body .coll-chart{
	text-align: center;
	vertical-align: top;
} 

.bar-chart {
	width: 100%;
}

.bar-chart svg {
	width: 100%;
}

.graph-block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.call-center-body .button-row{
	width: 100%;
	text-align: right;
	padding: 20px 0 30px;
}

.call-center-body .button-row > button{
	width: 120px;
}

.punch-clock .title-block{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.punch-clock .title-block .title{
	font-size: 22px;
	font-weight: 500;
}

.punch-clock .title-block .btn.active{
	background-color: #0aa89e;
	color: #fff;
	border-color: #0aa89e;
}

.text-green {
  color: #0aa89e;
}
a.text-green:hover {
  color: #0aa89e;
}

.alert-callout.alert-green:before{
	background: #0aa89e;
}

.text-orange {
  color: #E87E04;
}
a.text-orange:hover {
  color: #E87E04;
}

.alert-callout.alert-orange:before{
	background: #E87E04;
}

.teachers-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.teachers-block .teacher-item{
	margin-bottom: 35px;
	border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
}

.teachers-block .top-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-bottom: 2px solid #0aa89e;
	padding: 15px 20px;
	align-items: center;
}

.teachers-block .top-block .name{
	font-size: 20px;
	font-weight: 500;
	margin-left: 15px;
}

.teachers-block .statictics-block{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}

.teachers-block .statictics-block .statictic-item span{
	display: block;
}

.teachers-block .statictics-block .statictic-item span > b{
	font-weight: 700;
}

.teachers-list .t-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 10px 25px; 
	align-items: center;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.teachers-list .teacher-item{
	border-radius: 3px;
	margin-bottom: 30px;
	border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-color: #fff;
}

.teachers-list .t-header .avatar{
	width: 65px;
}

.teachers-list .t-header .name{
	font-size: 22px;
	font-weight: 500;
	margin-left: 15px;
}

.teachers-list .t-header a{
	margin-left: 25px;
	font-size: 16px;
}

.teachers-list .t-body{
	padding: 25px;
}
.teachers-list .cours-item{
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    margin-bottom: 20px;
}

.teachers-list .cours-item img{
	width: 100%;
	height: 170px;
	object-fit: cover;
	object-position: center;
}

.teachers-list .cours-item .cours-info{
	padding: 10px 25px;
}

.teachers-list .cours-item .cours-info span{
	display: block;
	font-size: 15px;
}

.card.teachers{
	background-color: #E5E6E6;
	border-radius: 0px;
	box-shadow: none;
}


.col-hour{
	width: 12%;
}
.col-bonus{
	width: 8%;
	text-align: center;
}

