* {
    outline: none !important;
}

.content-header {
    min-height: 45px;
}

.dataTables_filter {
    margin-top: -36px;
}

.box-header .box-title {
    font-size: 26px;
}

.box-header {
    padding-bottom: 0px;
}

.breadcrumb {
    float: left !important;
    position: initial !important;
}

img.avatar_user {
    width: 50px;
}

.table-link tbody tr {
    cursor: pointer;
}

#UploadAvatarModal img.cropper-box {
    max-width: 100%;
    width: 100%;
}

#UploadAvatarModal .modal-body {
    display: block;
    height: 450px;
    padding: 0px;
}

#UploadAvatarModal .modal-dialog {
    width: 50%;
}

#UploadModal img.cropper-box {
    max-width: 100%;
    width: 100%;
}

#UploadModal .modal-body {
    display: block;
    height: 450px;
    padding: 0px;
}

#UploadModal .modal-dialog {
    width: 50%;
}